[2017-11-08 11:24] Mandiklopper opened #1 "Staff Movement - Redeployment (Workflow)"
Email from Robert:

Please check why email notifications for staff movement is not going. A redeployment request for A07987 that has status s Requested, Awaiting management approval did not send a notification to Patricia.

I have checked the workflow monitor and there is no entry there.

Please treat as very urgent

[2017-11-08 11:37] Mandiklopper opened #2 "Stakeholders - Staff movement"
**Email from Robert Eta:**

See redeployment notification received none of stakeholder i.e. receiving and releasing supervisors, payroll, etc.

[2017-11-08 14:42] Mandiklopper opened #3 "Workflow - Staff Movement (Notification linked to reasons)"
Email received by Robert Eta:

Please note that the 3 items highlighted in yellow are redeployment reasons that are applicable to pre-approved redeployment. Such pre-approved redeployment request will be created and approved by the HRBPs (Team member & Team Lead) and not via the approval process that goes to the GHHR/GMD as the case may be.

[2017-11-08 14:46] Mandiklopper commented on #1
http://senseable.co.za/scp/tickets.php?a=search&search-type=typeahead&query=236&number=236

[2017-11-08 14:51] Mandiklopper commented on #2
http://senseable.co.za/scp/tickets.php?id=113 - Assigned to Jan Willem

[2017-11-08 14:57] Mandiklopper commented on #3
http://senseable.co.za/scp/tickets.php?id=110 - Assigned to Jan Willem

[2017-11-08 15:01] Mandiklopper opened #4 "Employee Detail - Persons to contact"
Raised by GHHR:

Add contact type on ESS as well by Persons to contact. The staff should be able to see if next of kin or emergency.

[2017-11-08 15:03] Mandiklopper commented on #4
Add contact type on ESS as well by Persons to contact. The staff should be able to see if next of kin or emergency. - Assigned to JW

[2017-11-08 15:03] Mandiklopper commented on #4
Closed by JW

[2017-11-08 15:10] Mandiklopper opened #5 "Work Ethics - Access to Disciplinary Case"
The Work Ethics team are unable to issue sanctions as they do not have access to create a case - the starting point

[2017-11-08 15:12] Mandiklopper commented on #5
http://senseable.co.za/scp/tickets.php?id=112 - Assigned to Chidi

[2017-11-08 15:12] Mandiklopper commented on #5
Closed by Chidi

[2017-11-08 15:33] Mandiklopper opened #6 "Staff movement - Workflow and X3 Awaiting processing function"
See issues brought to my attention by HRBP team Lead;

No email notification was received by HRBP Team Lead (Kayode Jamgbadi) for See issues brought to my attention by HRBP team Lead;

1. No email notification was received by HRBP Team Lead (Kayode Jamgbadi) for request for relief assignment logged by HRBP Team member for a number of staff. sample are A16814, A21596, A23413

2. The HRBP Team Lead

[2017-11-08 15:33] Mandiklopper commented on #6
Assigned to JW

[2017-11-08 15:37] Mandiklopper opened #7 "Selected notch is invalid error"
Email from Robert Eta:

Attempts to process Staff Movement in the error/Awaiting processing category came up with the error message 'Selected notch is invalid for the selected grade' for A09594 (Already have a ticket open for this)

[2017-11-08 15:40] Mandiklopper commented on #7
http://senseable.co.za/scp/tickets.php?id=54# - Assigned to Pierre van Zyl

[2017-11-08 15:42] Mandiklopper opened #8 "End contract Access control"
Raised by Bukky:

The calendar, exit reason and sub reason and all other fields are not responding when the Exit Mamagement Team Member tried to end a contract

[2017-11-08 15:44] Mandiklopper commented on #8
Assigned to Chidi and closed by Chidi

[2017-11-08 15:45] Mandiklopper opened #9 "Hospitals - States linked"
Raised by Bukky:

The Location drop list on the Hospitals page is not linked to the States. If I try to select another location for a hospital in a State, the droplist is incorrect for the selected State.

[2017-11-08 15:46] Mandiklopper commented on #9
http://senseable.co.za/scp/tickets.php?id=116 - Assigned to JW

[2017-11-08 15:46] Mandiklopper commented on #9
Completed by JW

[2017-11-08 15:48] Mandiklopper opened #10 "Workflow - Personal Hospital Update"
Raised by Jacquelyn:

I initiated a hospital update on my profile for myself but the email content sent to me and my supervisor indicates the Hospital Change is for Dependent 1 (Child).

[2017-11-08 15:49] Mandiklopper commented on #10
http://senseable.co.za/scp/tickets.php?id=117 - Assigned to JW

[2017-11-08 16:13] roberteta opened #11 "Access - Wrong Profile assigned"
Musa Abdullahi –CE01344(Teller with email address musa.abdullahi@ubagroup.com) was added to the HR Business Partner user group while Musa Abdul – A14139 (HRBP with email address musa.abdul@ubagroup.com) is in the ESS Group that is for all other staff.

Please make the following correction to their profiles;

•	Assign Musa Abdul – A14139 (HRBP) to HRBP profile
•	Assign Musa Abdullahi –CE01344(Telle

[2017-11-08 19:55] Mandiklopper opened #12 "Disciplinary Case -"
Logged by Bukky:

Disciplinary case was successfully opened for employee. After logging out of the record, employee details are no longer visible to the HR user. Employee details are also not available under Disciplinary after the case is approved.

[2017-11-08 19:55] Mandiklopper commented on #12
http://senseable.co.za/scp/tickets.php?id=118 - Not yet assigned on Senseable

[2017-11-08 20:01] Mandiklopper opened #13 "Relief Assignment showing Redeployment on notification"
Logged by Bukky:

All relief assignments created by Richard Sarki yesterday came up as redeployments after they were approved by his team lead, Kayode Jamgbadi.

[2017-11-08 20:04] Mandiklopper commented on #13
Look into the Workflow notification content.  Should show relief instead of redeployment content.

[2017-11-08 20:04] Mandiklopper commented on #13
http://senseable.co.za/scp/tickets.php?id=119 - Not yet assigned

[2017-11-08 20:14] Mandiklopper opened #14 "Exit Request - Delete 2 transactions (Not used)"
Logged by Bukky:

There are two rows of information in the Exit Request view which cannot be explained. They do not have much information, looks like a carryover from testing

[2017-11-08 20:14] Mandiklopper commented on #14
http://senseable.co.za/scp/tickets.php?id=121 - Not yet assigned

[2017-11-08 20:17] Mandiklopper opened #15 "Employment Contract - End tab fields"
Logged by Bukky:

In the end of activity section,the fields : 'RTZ of totals in case of departure' and 'Time event balance' have not been explained and are not being used.

After the End of activity section, all other sections (start, notice) have not been explained and are not being used. These should be grayed out so as to avoid situation where information mistakenly entered will affect the syst

[2017-11-08 20:18] Mandiklopper commented on #15
http://senseable.co.za/scp/tickets.php?id=122 - Not yet assigned

[2017-11-08 20:28] Mandiklopper opened #16 "Access Control - Profile error"
Email send by Robert:

Musa Abdullahi –CE01344(Teller with email address musa.abdullahi@ubagroup.com) was added to the HR Business Partner user group while Musa Abdul – A14139 (HRBP with email address musa.abdul@ubagroup.com) is in the ESS Group that is for all other staff.

Please make the following correction to their profiles;

•	Assign Musa Abdul – A14139 (HRBP) to HRBP profile
•	Assign Musa A

[2017-11-08 20:30] Mandiklopper opened #17 "Notification in French"
Emailed by Bukky:

Notification in French.

Subject: Verrou de la fiche 0159

Bonjour,

L'utilisateur OYOWO voudrait modifier cette fiche de l'objet FCY sur le dossier DR-SAGE-MPROC:1806@PREPROD.
Pouvez-vous quitter cette fiche ?

Merci

[2017-11-08 20:37] Mandiklopper opened #18 "HRBP on leave - Implement changes"
Email sent by Robert:

Hello JW,

As discussed the HRBP team Lead (Stella Nwihim) is on vacation and the two HRBP team members below report  to her.

HRBP Team member 1
Name: Oluremi Jacobs
Emp. ID: A23111
Position: J0175099900018

HRBP Team member 2
Name: Nwamaka Kalu
Emp. ID: A22456
Position: J0175099900020

Based on request pending her approval, we want to make the following changes;

•	Change

[2017-11-08 20:38] Mandiklopper commented on #18
JW will look into this once the server is back online.

[2017-11-08 21:46] Mandiklopper opened #19 "Data Migration Checklists"
Please complete the Data Migration Checklist for all Data migration completed:

*  Employee Data
*  Position Data
*  Standard Job Data
*  Site data

@carldek please check with me as I do have some of these already completed.  We just need to finish it up.

[2017-11-09 08:50] Mandiklopper commented on #12
Sequence number was not updated on PREPROD and then also the last take on number needed to be set.
@carlde is currently busy with this.

[2017-11-09 08:52] Mandiklopper commented on #9
States the Dependency code were not used but the description on the Misc Tables - 6023.  This has been updated and must be patched by Dev team.

[2017-11-09 08:58] Mandiklopper commented on #13
Closed by JW.

[2017-11-09 09:02] Mandiklopper commented on #14
Closed on Senseable.  Functional ticket and assigned to Mandi to complete once system is up and running.

[2017-11-09 10:12] Adebukola opened #20 "Email notifications for sanctions"
Email notifications for sanctions are not going to all stakeholders.  Please ensure that all stakeholders included in the attached
[Sanction_Disciplinary Notification List.docx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1457387/Sanction_Disciplinary.Notification.List.docx)
 stakeholder list get notifications.

[2017-11-09 10:58] Adebukola opened #21 "Exit notifications not going to all stakeholders"
Exit notifications are not being received by all stakeholders.  Please enable notifications as per attached list
[Exit Notification List.docx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1457327/Exit.Notification.List.docx)

[2017-11-09 11:05] Mandiklopper opened #22 "ACCESS/Confirmation Team Access"
Please look into the access for the Confirmation Team.  On the Career tab they should be able to view and edit on the Confirmation and Guarantor Tab.  The other tabs on career should only be there for viewing purposes.

Also give access to the contract tab on the employment contract.  Only viewing not creating, editing or deleting.

[2017-11-09 11:54] Adebukola opened #23 "Commendation notification list"
Commendation notifications should go to the stakeholders contained in attached list.
[Commendation Stakeholder List.docx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1457422/Commendation.Stakeholder.List.docx)

[2017-11-09 12:01] Adebukola opened #24 "Content of Commendation Letter"
Template for commendation letter should be updated.  Attached is the one that was issues yesterday.  Changes are contained therein
[Issue with Content of Commendation Letter.docx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1457490/Issue.with.Content.of.Commendation.Letter.docx)

[2017-11-09 12:35] Mandiklopper commented on #2
Staff, HRBP member, HRBP team lead, receiving and releasing supervisors and payroll will now be copied in the same email. However, the stakeholder group for Payroll must be loaded.  I have requested a list of the Payroll Stakeholders from Bukky / Robert.

[2017-11-09 12:38] chidiif commented on #22
Both Requests have been treated.

[2017-11-09 12:40] Mandiklopper commented on #12
Sequence number assigned to start the next disciplinary from 00003445.  Completed by SAGE.

[2017-11-09 12:45] Mandiklopper commented on #20
https://senseable.co.za/scp/tickets.php?a=open - Logged and not assigned yet.  Ticket 254

[2017-11-09 12:56] Mandiklopper commented on #3
This has now been implemented on the system - Completed by JW.

[2017-11-09 12:58] chidiif commented on #16
Done

[2017-11-09 13:01] Mandiklopper commented on #16
Completed.  UBA to retest.

[2017-11-09 13:04] chidiif commented on #11
I believe it is same with case #16. Please confirm.

[2017-11-09 13:28] Adebukola opened #25 "Redeployment & Relief Assignment Stakeholder Notification List"
The list of people to get notification after the last approval for redeployment or relief assignment ae as contained in attached document.
[Redeployment_Relief Stakeholder Notification List.docx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1457719/Redeployment_Relief.Stakeholder.Notification.List.docx)

[2017-11-09 14:00] Adebukola opened #26 "Content of sanction/ disciplinary notifications"
[Content of Notification of Suspension Pending Determination of Case.docx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1457821/Content.of.Notification.of.Suspension.Pending.Determination.of.Case.docx)
The content of notification for disciplinary cases and sanctions should be the same as the letter templates earlier provided to the team.  The content of the email notification for  c

[2017-11-09 14:24] roberteta opened #27 "Implemented Staff Movement with no Email Notification"
1. Redeployment for Charity Ojeh (A21659)

, was done and implemented with no email notification
2. Relief Assignment was processed for Francis Ikwue (A15483)  but there has been no notification received.

[2017-11-09 14:45] Mandiklopper commented on #27
http://senseable.co.za/scp/tickets.php?id=120 - not yet assigned.

[2017-11-09 15:26] Mandiklopper opened #28 "Case Summary - Increase length"
The case summary free text block only allows 250 characters.  This must be increased as requested by the Work Ethics team.

[2017-11-09 15:27] Mandiklopper commented on #28
Assigned to Martin Kruger - Currently busy completing the task and will be done soon.  Work ethics should first wait before completing the task.

[2017-11-09 16:20] jayekwueme opened #29 "Staff Logon Access on PeopleConnect"
Staff profiled in the UBA-Team Member HCM Operations user group cannot log into PeopleConnect successfully.

They get a blank screen when they type their username and password.

[2017-11-09 16:30] Adebukola opened #30 "Error Message In Creating from ESS"
When trying to log exit request from ESS, the following  error keeps coming up under Exit reason & Sub reason when users try to save the exit request.

359~MXR05 : Inactive record
6005~SXR06 : Inactive record

[2017-11-09 16:40] roberteta opened #31 "Skills and Careers - Careers Screen"
![img_20171109_164846_resized_20171109_045005126](https://user-images.githubusercontent.com/33485868/32617096-619e78fa-c574-11e7-9428-77af7eaa6316.jpg)

The careers screen has 4 instances where surname has been used wrongly as title for columns.

See attached screen shot

[2017-11-09 16:45] Mandiklopper opened #32 "Positions - Subordinate error on reports to linking"
Position J016004720028 giving errors when linking the reports to manager to J0013047200669.   Remember to correct the grades as original.

Also look at the standard Job levels that did not show.

[2017-11-09 16:48] Mandiklopper commented on #14
Closed and deleted on Preprod.

[2017-11-09 19:58] roberteta commented on #3
A redeployment was done using one of these sub reason and it was implemented after approval by HRBP Team Lead. However no email notification went out.

[2017-11-09 19:58] #3 closed

[2017-11-09 20:09] #4 closed

[2017-11-09 20:15] #5 closed

[2017-11-09 20:16] #8 closed

[2017-11-09 20:27] #9 closed

[2017-11-09 21:47] Mandiklopper commented on #28
This has been sorted.  Just looking into the view of the case summary on the disciplinary.

[2017-11-09 22:38] Mandiklopper commented on #28
Working correctly and no also displaying on the disciplinary.

[2017-11-10 07:13] roberteta opened #33 "STAFF MOVEMENT ERROR - INCORRECT REASON"
A relief assignment processed for A21722 with effective date of 9/11 and end date of 29/11 had an error on processing with error message as 'incorrect reason'
--

[2017-11-10 07:31] roberteta opened #34 "Error on Relief Assignment Processed"
A relief assignment processed for A22118 with effective date of 8/11 and end date of 17/11 had an error on processing with error message as 'Error creating new contract Selected notch is invalid for the selected grade'
A review of the Employment contract screen reveal the following;
1. The take-on data contract for this employee has no Grade (this is a mandatory field), but has a base notch
2. The

[2017-11-10 07:46] Mandiklopper commented on #31
Mandi investigating.

[2017-11-10 07:46] roberteta opened #35 "Notification on initiated Staff Movements"
The HRBP team leads are not getting notifications on relief assignment transactions loaded by their team members

[2017-11-10 08:00] roberteta opened #36 "Error on Approving Initiated Staff Movement for Head Teller Position"
![error on approving relief assignment](https://user-images.githubusercontent.com/33485868/32648131-bdaab46c-c5f4-11e7-955e-3f7e0e7c3495.jpg)

Attempts to approve Relief Assignment for A11281 came up with the error message in the attached  message '**This is a redeployment transaction and at least the position must updated'**

1. The error message should be corrected for grammer as follows 'This i

[2017-11-10 08:32] Adebukola opened #37 "Unpopulated Fields on Disciplinary View"
On the Disciplinary view, in the top part of the screen, the fields, 'Position' and 'Position Title' come up blank.  These fields should be populated with the position and position title of the employee

[2017-11-10 09:00] Mandiklopper commented on #26
http://senseable.co.za/scp/tickets.php?id=128 - Not yet assigned.

[2017-11-10 09:43] Mandiklopper commented on #17
**English Translation:**
The user OYOWO would like to modify this file of the FCY object on the file DR-SAGE-MPROC: 1806 @ PREPROD.  Can you leave this form?

Correct on the system see attached.
![lock screen](https://user-images.githubusercontent.com/33479066/32652251-551784b2-c60c-11e7-98d7-7db6c8d805c5.PNG).  Mandi still investigating this.

[2017-11-10 09:44] Mandiklopper commented on #17
Closed by SAGE

[2017-11-10 09:49] Mandiklopper commented on #11
Closed - The same as #16

[2017-11-10 09:49] #11 closed

[2017-11-10 11:20] Mandiklopper commented on #34
@chidiif please give A15774 and A05164 access to SITE BR086

[2017-11-10 11:51] chidiif commented on #34
Both A15774 and A05164 have access to all sites.

[2017-11-10 12:58] Mandiklopper commented on #32
Positions 'J0087099900001' (Group Managing Director) had a Functional Hierarchical Position of 0, causing the problem.  I removed the '0' and it now validates fine.

[2017-11-10 13:24] Mandiklopper commented on #29
Leave a comment

[2017-11-10 13:24] roberteta opened #38 "Setup of Employee Number Sequence"
In response to the extract from the email from Mandi below, based on feedback below from HRIS Administrator, the last employee code issued on HRIS is A24216, so the sequence should start from **A24217**

After our discussion on Thursday afternoon I just want to confirm the process going forward on email.

We will change the Sequense numbers of the employee codes from NGxxxxxx to Axxxxxxx for now.

[2017-11-10 13:26] chidiif commented on #29
Kindly provide staff Employee ID or Work Email Address

[2017-11-10 13:35] chidiif commented on #29
@jayekwueme Kindly provide staff Employee ID or Work Email Address

[2017-11-10 13:37] roberteta opened #39 "Access to Extract Reports from Sage for import to HRIS"
Please grants Oyebola Owoseni (A23512) access to extract reports for import to HRIS

See attached
[HRIS Export Templates.pdf](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1461493/HRIS.Export.Templates.pdf)

[2017-11-10 13:41] Mandiklopper commented on #34
Closed.  Moved to implemented.

[2017-11-10 14:51] Mandiklopper commented on #33
Completed.

[2017-11-10 14:54] Mandiklopper commented on #39
Chidi please look into this asap.

[2017-11-10 15:09] Mandiklopper commented on #36
http://senseable.co.za/scp/tickets.php?id=130 - Not assigned yet on Senseable.

[2017-11-10 15:11] roberteta opened #40 "GHHR Feedback on Staff Movement awaiting Management Approval"
Please see below feedback from the GHHR on Staff Movement awaiting Management Approval;

1.  There should be a column to see who is requesting for the Staff Movement Approval (i.e. the HRBP Team Lead's name)

2. There should be a column named justification where the justification for the Movement should be captured  by the HRBP Team lead

[2017-11-10 15:26] jayekwueme commented on #29
A16960 - afolabi.alade@ubagroup.com

[2017-11-10 15:52] chidiif commented on #39
@Mandiklopper, I suppose Oyebola fills the same role as Jacky? Please confirm if he should be elevated to Customer Admin.

[2017-11-10 16:06] chidiif commented on #29
@jayekwueme Kindly ask the employee to login again.

[2017-11-10 16:08] chidiif commented on #39
@roberteta Kindly confirm if Oyebola should have the same level of Access Jacky has - Customer Administrator.

[2017-11-10 17:06] roberteta opened #41 "Approval of Transactions loaded by HRBP Team member"
A HRBP Team member (A23401) initiated a relief assignment for a staff (A17147) on People Connect but in the course of approval by the HRBP Team Lead (A23401's supervisor), the staff’s supervisors name (Ejiroghene Kara) appears as the approver in place of A23401's supervisor details. However this relief assignment is available for approval by the HRBP Team lead

However staff movement initiated for

[2017-11-13 07:39] Adebukola opened #42 "Access for managing vendor staff"
Kindly grant access to Vendor Management - A11592 (Saheed Abdulsalaam) and A22960 (Moriam Sallu) to onboard, redeploy and exit only vendor staff.  Core staff information should not be visible and if visible should not be editable by them.  This means, Employee Contracts, Employees, Staff Movement and End tab of Employee Contract should be accessible by them.
Onboarding and redeployment should be a

[2017-11-13 07:49] Mandiklopper commented on #38
http://senseable.co.za/scp/tickets.php?id=131 - Assigned to Martin

[2017-11-13 07:50] Mandiklopper commented on #35
Closed by JW, refer to mail trail between Robert and JW.  Last mail Sun 2017/11/12 9:51 PM.

[2017-11-13 08:06] Mandiklopper commented on #6
Addressed by JW and communicated to Robert to give feedback.

[2017-11-13 08:12] Mandiklopper commented on #21
http://senseable.co.za/scp/tickets.php?id=132 - Not yet assigned on Senseable.

[2017-11-13 08:13] Mandiklopper commented on #2
@roberteta has provided the Payroll stakeholders email address.  JW to confirm if what is needed to complete this task.

[2017-11-13 08:21] Mandiklopper opened #43 "Access for Adebayo"
Create access for Adebayo Shoyoola on all the environments.

[2017-11-13 08:22] Mandiklopper commented on #20
Emailed @Adebukola to request the correct stakeholders and Letter templates for all outcomes.  @Adebukola  please follow up with the work ethics team.

[2017-11-13 08:29] Mandiklopper commented on #40
http://senseable.co.za/scp/tickets.php?id=133 - Not yet assigned on Senseable.

[2017-11-13 08:51] Mandiklopper commented on #2
JW confirmed that this information is enough.  Mandi to complete the stakeholder on Preprod with detail.  Once done it will work correctly.

[2017-11-13 08:54] Mandiklopper opened #44 "Correct Grades for Executive band"
Message from Robert:

Hello Mandi,  Attached is the updated sheet showing the correct sequence for grades in the Executive Management band.
See extract of section where the sequence was wrong and now corrected (GGM > ED > DMD > GMD)

Emailed @Yinka123 with the detail to complete on all environments and provide feedback once done.

[2017-11-13 08:54] chidiif commented on #39
Done. Oyebola now have access to the Administration module.

[2017-11-13 08:55] #43 closed

[2017-11-13 09:07] chidiif commented on #43
Done, Access has been created for him in **UBAUAT, UBATEST and PREPROD**. But I need him to test this.

[2017-11-13 09:08] chidiif commented on #43
@Mandiklopper Done, Access has been created for him in UBAUAT, UBATEST and PREPROD. But I need him to test this

[2017-11-13 09:58] #29 closed

[2017-11-13 10:06] Mandiklopper commented on #42
Assigned to @chidiif

[2017-11-13 10:13] Adebukola opened #45 "Notification to HRIS to expand grade range of positions not going through"
When redeployment is initiated for an employee to be redeployed into a position that has a grade range outside of the employee's own grade, a message to notify HRIS pops up.  Currently, the system is not sending notification to HRIS so that HRIS can expand the grade range.

[2017-11-13 10:14] Mandiklopper commented on #33
http://senseable.co.za/scp/tickets.php?id=130 - Closed by JW

[2017-11-13 10:15] Mandiklopper commented on #33
Change to Staff Movements in content of message as discussed with Robert.

[2017-11-13 10:24] Yinka123 commented on #44
Issue has been fixed.

[2017-11-13 10:29] Mandiklopper commented on #45
http://senseable.co.za/scp/tickets.php?id=135 - Not yet assigned on Senseable

[2017-11-13 10:45] #44 closed

[2017-11-13 10:48] #17 closed

[2017-11-13 11:02] #34 closed

[2017-11-13 11:04] #18 closed

[2017-11-13 11:12] roberteta commented on #1
I cannot find this entry in staff movement

[2017-11-13 11:24] roberteta commented on #6
The Actions Awaiting my Action does not limit the staff movements to only those of the HRPB in question.

[2017-11-13 11:27] roberteta commented on #33
The closure comment does not relate to this issue

[2017-11-13 11:38] Mandiklopper commented on #25
http://senseable.co.za/scp/tickets.php?id=136 - Not yet assigned on Senseable.

[2017-11-13 11:49] #39 closed

[2017-11-13 11:51] Mandiklopper commented on #30
http://senseable.co.za/scp/tickets.php?id=137 - Not yet assigned on Senseable.

[2017-11-13 12:21] Mandiklopper commented on #23
http://senseable.co.za/scp/tickets.php?id=138 - Not assigned on Senseable

[2017-11-13 12:28] Mandiklopper commented on #24
http://senseable.co.za/scp/tickets.php?id=139 - not yet assigned on Senseable

[2017-11-13 12:31] Mandiklopper commented on #30
@Adebukola please retest.  This has been closed.

[2017-11-13 12:36] Mandiklopper commented on #45
HRIS position was missing from the recipient tab of the workflow. Corrected now, please retest.

[2017-11-13 12:51] Mandiklopper commented on #37
http://senseable.co.za/scp/tickets.php?id=129 - Assigned to Martin

[2017-11-13 12:51] Mandiklopper commented on #41
Assigned to Mandi to first test.

[2017-11-13 13:48] Adebukola opened #46 "Exit stakeholder unable to save exit checklist"
IT Care exit stakeholder was unable to save exit checklist that she completed.  The message ' transaction stopped on saving key A23237 A23237NG001 04/08/2014 in table YEMPLOCTRESS (Obsolete record)' came up when the save button was clicked

[2017-11-13 15:08] Mandiklopper commented on #46
http://senseable.co.za/scp/tickets.php?id=140 - Not yet assigned on Senseable

[2017-11-13 15:35] Adebukola opened #47 "Exit notifications not received by all stakeholders"
Exit notification is being received by only the Work Ethics group.  Please ensure all exit stakeholders get exit notifications.

[2017-11-13 17:35] roberteta opened #48 "EXIT REQUEST - BLANK NOTIFICATION"
The Exit Request email notification for employee A11552  is blank.

The following fields are blank in the notification;

Staff Grade:
Job Title:
Staff Location:
Effective Date:

[2017-11-13 17:36] #45 closed

[2017-11-13 17:50] #13 closed

[2017-11-13 18:10] roberteta commented on #38
Due to the promotion of seven (7) Graduate Trainee to Executive Trainee, the last issued employee ID on HRIS is now **A24223.**

[2017-11-13 18:13] roberteta commented on #33
There is no way of retesting this particular case. Closure is based on the fact that no new cases have come up with this error.

[2017-11-13 18:13] #33 closed

[2017-11-13 22:40] Mandiklopper commented on #21
Message from @Adebukola : Exit notification is being received by only the Work Ethics group. Please ensure all exit stakeholders get exit notifications.

[2017-11-13 22:41] Mandiklopper commented on #47
Already on ticket 21:  Exit notifications not going to all stakeholders  #21  @Adebukola

[2017-11-13 22:41] #47 closed

[2017-11-14 07:33] roberteta opened #49 "Update recipients of Staff Movement Approval Request Notification email"
The notification mail for staff movement items awaiting approval of the HRBP Team Lead should copy the initiator of  the request.

[2017-11-14 07:47] Mandiklopper commented on #48
http://senseable.co.za/scp/tickets.php?id=141 - Not assigned yet on Senseable.

[2017-11-14 09:09] roberteta commented on #38
Hello Martin,
Please this request is critical as there are new hores to be onboarded this morning.

[2017-11-14 09:28] Mandiklopper commented on #49
http://senseable.co.za/scp/tickets.php?id=113# - Linked to 240 on Senseable and assigned to JW

[2017-11-14 09:38] jayekwueme opened #50 "Incorrect Job Grade for A06919 - J0013013200707"
Employee A06919 - J0013013200707 has an incorrect grade attached to his profile.

Can we re-validate the grades for every employee again?

![a06919](https://user-images.githubusercontent.com/29643618/32772955-df79e6f4-c927-11e7-8f31-34c276db9d39.jpg)

[2017-11-14 10:02] roberteta opened #51 "HMO DOWNLOAD ON PEOPLE'S CONNECT"
Kindly provide a download of medical list from PeopleConnect. This download is sent to the HMO (Avon) on the 15th of every month and THIS IS DUE TOMORROW.

Download required-

•	Consolidated List
•	Hospital changes
•	Exits
•	Additions

Sample report attached
[HMO Download Template.xlsx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1470282/HMO.Download.Template.xlsx)

[2017-11-14 10:44] Mandiklopper commented on #51
Assigned to Yinka and guided by Mandi.

[2017-11-14 11:19] Mandiklopper commented on #48
Resolved, please retest.

[2017-11-14 13:44] Mandiklopper commented on #6
Closed by JW.  Please retest.

[2017-11-14 15:28] bldre03 opened #52 "Update on Position Code - A12973_J016003280033"
Correct position code for A12973 should be J016003280033.
![screenshot_a12973](https://user-images.githubusercontent.com/33657390/32788134-b24118c0-c958-11e7-9c58-2399e391a37c.png)

[2017-11-14 15:44] chidiif opened #53 "Inability to Log into People Connect"
Brenda Obasi -A23642 is unable to log into People Connect.

[2017-11-14 15:45] chidiif commented on #53
Done

[2017-11-14 15:45] #53 closed

[2017-11-14 15:48] chidiif opened #54 "Inability to Log into People Connect"
Jaga Olubukola is unable to log into People Connect

[2017-11-14 15:48] chidiif commented on #54
Done

[2017-11-14 15:48] #54 closed

[2017-11-14 15:53] chidiif opened #55 "Update Role Functional Authorization"
Please kindly give Chukwuemeka Okere A19503 access to all the menus for redeployment approval.

[2017-11-14 15:53] chidiif commented on #55
Done

[2017-11-14 15:53] chidiif commented on #55
Please take Emeka Okere back to his previous access. Then please ensure that Olusola Agbeyi A00479 has access Employee Contract, Employees, Staff Movement – redeployment.   Note she is also Recruitment Co-ordinator so she has confirmation and recruitment related menus too.

[2017-11-14 15:54] chidiif commented on #55
Done

[2017-11-14 15:54] #55 closed

[2017-11-14 16:32] bldre03 opened #56 "Update on Position code for A16903"
Dear Mandy,

Kindly assist to update employee details below.

Empl ID - A16903
Standard Job - Head of Processing
Position Code - J014600030035.
![a16903_effiong helen](https://user-images.githubusercontent.com/33657390/32791510-7f448d36-c961-11e7-88a1-4e394de5d680.png)

Regards,

[2017-11-14 16:51] Adebukola opened #57 "Exit Notifications Not Going Through & Non Clearing Stakeholders To View Clearance List"
Exit notifications did not go to  all exit stakeholders; specifically exitmanagement@ubagroup.com and exitissues@ubagroup.com.  Please update notification with the groups in the attached document.
All the stakeholders that have 'NO' on the clearance column should be able to view the feedback that other stakeholder with 'YES' have provided
Contacts for the mailing lists are

Email Group

[2017-11-14 16:58] Adebukola opened #58 "Exit Notification Without Employee Name"
Exit notification does not have employee name.  The notification is produced below.  's' to be added to item below

Dear Atinuke Oladele,

A final exit has been logged for the employee, with details below:

Employee ID: A21084
Contract number: A21084NG0001

The exit clearance checklist has been generated, please attend to ALL relevant item

Thank you

[2017-11-14 18:30] roberteta commented on #30
A number of Exit Requests have been succesfully logged subsequently

[2017-11-14 18:30] #30 closed

[2017-11-14 21:50] Mandiklopper opened #59 "Employee Arrival"
Upload 15 new recruits on the arrival screen with data provided by UBA as attached.
[Copy of Arrival Screen data_New recruits_14112017 (003).xlsx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1472641/Copy.of.Arrival.Screen.data_New.recruits_14112017.003.xlsx)

[2017-11-14 21:51] Mandiklopper commented on #59
Updated and provided feedback to UBA.

[2017-11-14 21:53] Mandiklopper opened #60 "Employment contract fields"
Header detail on the employment contract screen incorrect as attached.

[2017-11-14 21:55] Mandiklopper commented on #60
http://senseable.co.za/scp/tickets.php?id=147 - Not yet assigned on Senseable.

[2017-11-14 21:57] Mandiklopper commented on #38
This has been completed and tested with onboarded staff.

[2017-11-14 22:03] Mandiklopper commented on #31
http://senseable.co.za/scp/tickets.php?id=148 - Not yet assigned on Senseable

[2017-11-14 22:05] Mandiklopper commented on #36
Local menu 6955 line 17 has been updated with: 'This is a Staff Movement transaction and at least the position must be updated'.  Please test

[2017-11-14 22:10] Mandiklopper commented on #27
The left list issue has been resolved.  Please retest.

[2017-11-14 22:11] Mandiklopper commented on #42
@chidiif  please confirm if this has been completed?

[2017-11-14 22:21] Mandiklopper commented on #1
I have checked and I noticed that the new contract for redeployment did create.  See attached.
![a07987 redeployment](https://user-images.githubusercontent.com/33479066/32808177-da401e6a-c99a-11e7-80d2-e140c341a257.PNG)

[2017-11-14 22:24] Mandiklopper commented on #10
**Message has been amended and will now display the correct information**.  Please retest.

[2017-11-15 10:57] chidiif commented on #42
Access to Employee Contracts, Employees, Staff Movement and End tab of Employee Contract have been granted to them.
However, Core staff information is still visible and editable by them. I am still working out a solution to prevent or limit access to core staff information.

[2017-11-15 11:26] Yinka123 commented on #51
I have created the report templates, kindly review and let me know. Also i need more information on what you want to see on the last requirement.

[2017-11-15 15:39] Mandiklopper commented on #50
@jayekwueme  what should the grade be for this employee?

[2017-11-15 15:50] jayekwueme commented on #50
@Mandiklopper  BO - Banking Officer

[2017-11-16 07:58] Mandiklopper commented on #60
Mandi please confirm that this has been rectified.  JW assigned this to Mandi Klopper 15 Nov 17 @ 10:30

[2017-11-16 09:20] roberteta opened #61 "APPROVED REDEPLOYMENT WITH VALID NOTIFICATION BUT INCOMPLETE CONTRACTS CREATED"
A relief Assignment loaded for employee A01228 (Patience Ayomoto) was approved this morning and sent out a notification.

However my checks show that the status is error (incorrect reason) and the Relief assignment contract created does not have an end date, and so there is no third resumption from Relief Assignment contract

[2017-11-16 09:41] Mandiklopper commented on #19
This has been completed by @carldek.  Under review by Mandi.

[2017-11-16 09:50] Mandiklopper commented on #21
Detail from #58:

Exit notifications did not go to all exit stakeholders; specifically exitmanagement@ubagroup.com and exitissues@ubagroup.com. Please update notification with the groups in the attached document.
 All the stakeholders that have 'NO' on the clearance column should be able to view the feedback that other stakeholder with 'YES' have provided
 Contacts for the mailing lists are

Email

[2017-11-16 09:54] Mandiklopper commented on #58
Linked this detail to ticket 21 and closing this ticket.

[2017-11-16 10:03] Mandiklopper commented on #21
Logged against ticket:

Exit notifications did not go to all exit stakeholders; specifically exitmanagement@ubagroup.com and exitissues@ubagroup.com. Please update notification with the groups in the attached document.
 All the stakeholders that have 'NO' on the clearance column should be able to view the feedback that other stakeholder with 'YES' have provided
 Contacts for the mailing lists are

[2017-11-16 10:04] Mandiklopper commented on #57
Logged against Ticket 21.  Closed this one.

[2017-11-16 10:11] roberteta opened #62 "MSS Approval feedback from GHHR"
There is no information on the current details of the employee on the MSS approval grid.

Plese include 'old dept./branch', 'old location', & 'old position'.

[2017-11-16 10:24] Mandiklopper commented on #62
Logged on Senseable on ticket: http://senseable.co.za/scp/tickets.php?id=133 - Assigned to JW.

Please also look at this message received from the GHHR as important:

There is no information on the current details of the employee on the MSS approval grid.

Please include 'old dept./branch', 'old location', & 'old position'.

Mandi message:
As discussed yesterday with the previous request logged th

[2017-11-16 10:32] roberteta opened #63 "Multiple Staff Movement Requests with same details"
HRBP TMs and Employees are able to lod multiple staff movement request with the same details and this is accepted by the system. The reason for this is that they do not see the message at the top that says record created and so they load it multiple times.

Multiple staff movement requests with the same details should not be possible.

[2017-11-16 10:34] #38 closed

[2017-11-16 11:05] Adebukola opened #64 "State Lookup Button Not Working for Address Tab of Employee Link"
The look up list for 'State' does not show values.  This means the user needs to know the state code he wants to select and then enter it in manually.

[2017-11-16 11:39] Mandiklopper commented on #52
@bldre03 please advise if this was the position for this employee from the start of employment at UBA or when did he start in this position originally?

[2017-11-16 13:01] #59 closed

[2017-11-16 13:02] roberteta commented on #61
Awaiting feedback on root cause and how to avoid a reoccurrence

[2017-11-16 13:02] #61 closed

[2017-11-16 13:03] roberteta commented on #27
Hello JW,

Please check why the Reassignment notification for Peter Nwachukwu (A09088) that was approved by GHHR earlier today and has status of implemented has not been sent out.

[2017-11-16 13:04] #16 closed

[2017-11-16 13:20] Mandiklopper commented on #56
Completed with take on done by Carl.

[2017-11-16 13:22] Mandiklopper commented on #52
Completed by Data take on by Carl.

[2017-11-16 13:48] chidiif opened #65 "Create Access for New Hires"
Please enable access on ESS for the following employees
A24225 - Kelvin Olasunkanmi	Agunbiade
A24226 - Adeleke Opeoluwa Sonoiki
A24227 - Latifat Bisola Ahmed
A24228 - Kafilat Adenike Awoleye
A24229 - Michael Martins Taiwo
A24230 - Omabuwa Abiodun	Atseyinku
A24231 - Victoria Onyinyechi	Chukwuma
A24232 - Chukwuebuka	Ifeanyi Ogbuka
A24233 - Omolola	Morenike	Oderinde
A24234 - Victor Damilare Babalola

[2017-11-16 13:48] chidiif commented on #65
Done

[2017-11-16 13:48] #65 closed

[2017-11-16 13:50] chidiif opened #66 "INABILITY TO ACCESS PEOPLE CONNECT IRO OGBUJI-IHUOMA, GRACE EZINNE/ A23887"
Inability to access people connect  IRO OGBUJI-IHUOMA, GRACE EZINNE/ A23887. Kindly resolve

[2017-11-16 13:50] chidiif commented on #66
Resolved.

[2017-11-16 13:50] #66 closed

[2017-11-17 08:04] chidiif opened #67 "DIFFICULTY IN LOGGING INTO THE PEOPLECONNECT PLATFORM - Osazee Egbenusi"
Please check why this user is unable to login to PeopleConnect.

[2017-11-17 08:04] chidiif commented on #67
Done

[2017-11-17 08:04] #67 closed

[2017-11-17 08:13] #22 closed

[2017-11-17 09:28] Yinka123 commented on #64
https://senseable.co.za/scp/tickets.php?id=157

[2017-11-17 09:59] roberteta commented on #58
This is not the same as ticket 21. This is a request for the inclusion of the name of the employee in the exit notification.
Dear Atinuke Oladele,

A final exit has been logged for the employee, with details below:

Employee ID: A21084
Employee Name: John Doe
Contract number: A21084NG0001
Position:
Dept/Branch:
Location

The exit clearance checklist has been generated, please attend to ALL relevan

[2017-11-17 10:09] roberteta commented on #56
This has not been done.  Current details on the system is as follows;

Empl ID - A16903
Standard Job - Head of Processing
Position Code - J0146000300000

[2017-11-17 10:11] chidiif opened #68 "ACCESS/Migrate UBA Users from Development Badge"
Migrate UBA users from Development Badge.

[2017-11-17 10:14] roberteta commented on #52
This has not been done.
Correct position code for A12973 should be J016003280033.
Current position for A12973 is J0160032800000

[2017-11-17 10:14] chidiif commented on #68
HRIS Role has been modified - DEV Badge removed and Full Access to Endpoint granted (functions and access codes) - and assigned to all UBA users previously on Customer Administration.

[2017-11-17 10:14] #68 closed

[2017-11-17 10:36] #27 closed

[2017-11-17 10:37] #6 closed

[2017-11-17 10:59] Adebukola opened #69 "MSS- Supervisor unable to enter comment on Exit Request"
Comment box for supervisor to enter comment for exit request is not allowing entries.  Screen shot is attached.
![img_0158](https://user-images.githubusercontent.com/33485745/32944078-88a51b1e-cb8e-11e7-96e6-8d828c5de84e.JPG)

[2017-11-17 11:44] Adebukola commented on #58
This has not yet been closed.  Below is the email notification received today without name of employee.  Please close out including the additional fields that Robert mentioned above.

From: PeopleConnect@ubagroup.com [mailto:PeopleConnect@ubagroup.com]
Sent: Friday, November 17, 2017 12:31 PM
To: Oladele, Atinuke
Subject: Final exit: CE01814NG0001

Dear Atinuke Oladele,

A final exit has been logg

[2017-11-17 11:55] Adebukola commented on #57
Not all stakeholders are getting notification of final exit.  Taiwo Ikuejurojo did not get notification of exits logged today, Nov 17, 2017

[2017-11-17 11:58] #12 closed

[2017-11-17 11:59] #28 closed

[2017-11-17 14:32] chidiif opened #70 "ACCESS/Inability to Log into People Connect"
Kindly help rectify Al-Saad Al-Mustapha's logging in process as he is having difficulty to do so - A15268

[2017-11-17 14:32] chidiif commented on #70
Done

[2017-11-17 14:32] #70 closed

[2017-11-20 06:32] Mandiklopper commented on #56
@carldek to complete with an import

[2017-11-20 06:32] Mandiklopper commented on #52
@carldek to complete with import.

[2017-11-20 06:33] Mandiklopper commented on #50
@carldek to update with import

[2017-11-20 06:34] Mandiklopper commented on #51
Completed the report with information extracted from system.  Final report will only be done with Reports going live.

[2017-11-20 06:50] Mandiklopper commented on #60
Still incorrect A24225, A24226, A24228, A24229, A24230 To A24238

[2017-11-20 06:59] carldek commented on #50
Update done

[2017-11-20 07:01] carldek commented on #52
Update done

[2017-11-20 07:01] carldek commented on #56
Update done

[2017-11-20 07:36] Mandiklopper commented on #49
Closed on Senseable by JW

[2017-11-20 07:40] Mandiklopper commented on #46
Kiran message:
I think what happened is that some changes were made on the end tab, if they reverse the termination then we clear the termination checklist table for that termination.  So I think while the person was doing their checklist, exit management, reversed the termination and the records the person was working on was deleted.

@Adebukola and @roberteta  please check with the team if the a

[2017-11-20 07:42] Mandiklopper commented on #41
Initiator is now copied in.    Completed by JW.  Please test.

[2017-11-20 07:49] Mandiklopper commented on #19
Emailed to Robert by Mandi.

[2017-11-20 07:58] Mandiklopper commented on #21
Completed.  Linked the Exit stakeholders.  Please retest.

[2017-11-20 08:01] Mandiklopper commented on #7
Completed by Pierre on senseable.

[2017-11-20 08:21] Mandiklopper commented on #69
http://senseable.co.za/scp/tickets.php?id=163 - Not yet assigned on senseable.

[2017-11-20 08:26] Mandiklopper commented on #57
The correct email addresses were allocated.  Please advise if this is still the case @Adebukola

[2017-11-20 08:35] Mandiklopper opened #71 "Supporting documents"
Add mandatory attachment fields when the following are changed:
1. Employee Family Name and/or Employee First Name
2. Residential addresses

Please also add middle name on ESS. Currently on X3 People

[2017-11-20 08:36] Mandiklopper commented on #71
http://senseable.co.za/scp/tickets.php?id=104 - Assigned to Kiran.

[2017-11-20 08:41] Mandiklopper opened #72 "Skillsmap intergration from X3"
When loading a new job requisition it saves but as soon as clicking on Upload to skillsmap nothing happens on the system. No message showing pending or anything.

**Last message from Martin:**
If we handle the shortcoming with user rules, it helps us with processing the immediate requirement, but it does not solve the problem.
If we know what the problem is, we can build in rules on the screen to

[2017-11-20 08:42] Mandiklopper commented on #72
http://senseable.co.za/scp/tickets.php?id=45 - Assigned on Senseable to Martin

[2017-11-20 08:43] Mandiklopper commented on #72
Waiting for feedback from Skillsmap.  For now the integration can work but then only simple data can be loaded.

[2017-11-20 08:48] Mandiklopper commented on #63
@roberteta this will be a change request.  We can then look at when we can complete the change request.

[2017-11-20 09:00] Mandiklopper commented on #58
Ticket 292 - Assigned to Pierre on Senseable

[2017-11-20 09:04] #56 closed

[2017-11-20 09:05] #35 closed

[2017-11-20 09:06] #50 closed

[2017-11-20 09:10] #1 closed

[2017-11-20 09:27] Adebukola opened #73 "ACCESS/Updates to access (Change Request)"
Please see attached document
[SAGE X3 People_UBA_Change Request_Template_Nov 20 Access Changes.docx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1487063/SAGE.X3.People_UBA_Change.Request_Template_Nov.20.Access.Changes.docx)

[2017-11-20 09:56] Mandiklopper commented on #69
The HRBP first needs to go into this transaction and add the interview date and follow the steps as on how to video.  Print screen of the request not completed by the HRBP attached.
![mss exit req](https://user-images.githubusercontent.com/33479066/33012516-d9d064fa-cde9-11e7-9f4e-29632921ed49.PNG)

[2017-11-20 10:16] Mandiklopper commented on #2
Completed.  Please retest

[2017-11-20 10:23] roberteta opened #74 "Feedback from Sathya Sampath (Consultant & Foreign Worker)"
Please see feedback from Sathya after updating his personal details via ESS,

1. Unable to attach a pdf of my passport as proof of address / age
2. Permanent address doesn’t have a zip code column
3. After selecting India as country, There is no data in the drop down menu for state and attempts to
    enter data manually displays incorrect format Error message
4.  Residence Permit only has a 'vali

[2017-11-20 10:27] roberteta opened #75 "Guarantor Details"
The requirement is for the submission of 2 Guarantors, there is only provision for details and attachment of one guarantor.
There is need for provision to capture details and attach supporting document of a second guarantor.

[2017-11-20 10:29] roberteta commented on #7
No recent record with this error message.

[2017-11-20 10:29] #7 closed

[2017-11-20 10:31] Mandiklopper commented on #74
Find my comments below:
1.Unable to attach a pdf of my passport as proof of address / age - **This is logged on another ticket.  #71**

2.Permanent address doesn’t have a zip code column - **This was a request to be removed.  This field was there previously but then we removed it.**

3.After selecting India as country, There is no data in the drop down menu for state and attempts to
 enter data ma

[2017-11-20 10:34] Mandiklopper commented on #75
@roberteta I had a look at the HR Admin BRD and cannot see that this was specified in the BRD.  Please advise if I am missing it.  This will be a change request .

[2017-11-20 10:35] roberteta commented on #49
Confirmed via WF monitor

[2017-11-20 10:37] roberteta commented on #51
Report output was unreliable due to imported data. Report was manually generated via transactions een on WF monitor

[2017-11-20 10:37] #51 closed

[2017-11-20 10:42] Mandiklopper commented on #41
Also included the stakeholders and created a payroll stakeholder group with this mail  Payrollvalidation@ubagroup.com.  According to me this is closed.  Please let me know.

[2017-11-20 10:59] chidiif opened #76 "ACCESS/Inability to Access People Connect - Chidiebere Anindu"
Good morning.

I can’t seem to login in to the website.

Kindly advise please.

[2017-11-20 11:00] chidiif commented on #76
Done. @Adebukola , Kindly advise user to test again.

[2017-11-20 11:01] chidiif commented on #73
Done. @Adebukola, Kindly assist to test and confirm it is setup as requested.

[2017-11-20 11:17] roberteta opened #77 "EMPLOYEE NAMES NOT ON EXIT REQUEST SCREEN"
The right panel on the Exit Request Screen (Exit Management > Exit Request) does not have the names of the employees.
![exit request screen](https://user-images.githubusercontent.com/33485868/33015878-a3cf7622-cdec-11e7-879a-95f1d2228606.jpg)

The employee name should be inserted after the employee ID column.

[2017-11-20 11:18] roberteta commented on #77
Navigation : Personnel Administration > Exit Management > Exit Request

[2017-11-20 11:21] roberteta commented on #41
The issue was not the fact that initiator was not copied in notifications or the inclusion of stakeholders in the notifications. The issue was different outcomes for staff movement loaded by HRBP team member for staff in sites mapped to him. For some staff it picks the staff's supervisor as approver, for other staff'it picks the HRBP Team lead as approver. These are all staff movement loaded by th

[2017-11-20 11:39] roberteta commented on #74
The issue of 3 will be handled internally. Please confirm if this the export/import session you had with Bola Owoseni is what is required here?

Please handle item 4 then as logged here... ...

[2017-11-20 11:46] Mandiklopper commented on #77
http://senseable.co.za/scp/tickets.php?id=167 - Not yet assigned on senseable

[2017-11-20 11:48] Mandiklopper opened #78 "Exit Questionnaire question width"
The question field of the Exit Questionnaire on self service is so wide, the employees don't realise they have to scroll to the right to respond to the question.

A couple of support calls are logged due to this.

Please try to make it narrower (less than screen width) and rather wrap the question.

[2017-11-20 11:49] Mandiklopper commented on #78
http://senseable.co.za/scp/tickets.php?id=156 - Assigned to Adebayo Shoyoola

[2017-11-20 12:22] Mandiklopper commented on #41
![staff movement a17147](https://user-images.githubusercontent.com/33479066/33018122-c909bb26-cdfd-11e7-9448-37123d420967.PNG)

[2017-11-20 12:30] Mandiklopper commented on #74
Logged ticket:
Residence Permit only has a 'valid from' field, while Work Permit only has a 'valid to' field. Both Permits should have 'valid from' and 'Valid to'fields - This can be logged to be completed.

Will assign on senseable once system up.

[2017-11-20 12:37] Adebukola opened #79 "Exit Notification For Exit Requests Initiated on ESS not Going Through"
As at November 17, 5 exit requests had been made by staff via ESS.  HRBPs of the staff did not get notification of these exits.  Note that previous ticket logged was for notification of final exit managed by the Exit Management team on X3 while this is for exit request from ESS.

[2017-11-20 12:42] Mandiklopper commented on #74
http://senseable.co.za/scp/tickets.php?id=169 - Not yet assigned on Senseable

[2017-11-20 12:43] Mandiklopper commented on #79
@Adebukola, thanks.  Please list the employee codes of the 5 employees.

[2017-11-20 13:02] Mandiklopper opened #80 "Job Grade on Position"
Should not be able to type the grade on the position. Only be lookup.  If you type in the grade the system allows you to type in a different grade than allowed.

[2017-11-20 13:34] Mandiklopper commented on #80
http://senseable.co.za/scp/tickets.php?id=170 - Not yet assigned on senseable.

[2017-11-20 14:30] roberteta opened #81 "WRONG GRADE ON PEOPLECONNECT - A07498"
Dear Team,
Employee Kushimo Toyibat Temitope [A07498] is a BO but showing as BT1 on people connect.
Please investigate and update

@ Carl, the document ' UBA Employee Data until 20 July 2017_v5 RECON 16 Aug 2017.xls' has this staff as BO. Not sure why it is now chowing as BT1 in PeopleConnect.

[2017-11-20 18:07] bldre03 opened #82 "Request to Update Empl IDs for Promoted GT2 staff"
Dear Mandy,

Attached is the list of staff whose Empl IDs are to be updated due to promotion.

Kindly advise on how to achieve this update on PeopleConnect.

Best Regards,
[Data for Empl IDs Update.xlsx](https://github.com/Mandiklopper/UBA-HR-Queries-Issues/files/1488653/Data.for.Empl.IDs.Update.xlsx)

[2017-11-21 06:21] Mandiklopper commented on #81
@carldek please look into this and provide feedback.

[2017-11-21 07:13] carldek commented on #81
Update both contracts with the correct grade

[2017-11-21 08:33] Mandiklopper commented on #79
@Adebukola please reply with the employee codes

[2017-11-21 09:58] Mandiklopper commented on #74
@roberteta - Had a discussion with the legislation guys and they proposed that we do not go this route, due to reporting, etc. impact. Proposal that we rename the date fields to the relevant description. Please advise if this will be in place?

[2017-11-21 10:24] Mandiklopper commented on #82
@bldre03, this can be done by changing the key of the employee code.

Go to Personnel Administration > Employees > Go to the employee >  On the right hand side click on Utilities, click on Change key > Type in the new employee code.  Then click on OK.

We have closed data migration and for control purposes SAGE can not update this list.  Just make sure when you start with the A number that it star

[2017-11-21 10:25] Mandiklopper commented on #79
@roberteta please assist with getting these employee codes.

[2017-11-21 10:28] Mandiklopper commented on #58
Closed by Pierre.  Please retest.

[2017-11-21 12:30] roberteta commented on #82
@ Mandi, This steps only addresses the change in employee ID from CE to A.  The grade of these employees need to be changed as wel. Will this be via Promotion  action?

[2017-11-21 12:38] Adebukola commented on #79
A08007
A07835
A08215
A11552
A22027

[2017-11-21 12:38] roberteta commented on #81
@ Carl, are you saying that  this been updated? Or this has to be updated

[2017-11-21 12:50] roberteta opened #83 "ACCESS/ERRONEOUS CHANGE OF STAFF GRADE"
It may appear that the change is grade  of employee  A07498 from BO to BT1 may have been in error at the point of Relief Assignment processing by HRBP Team member.

1. Please disable access to change employee grade from all Staff Movement reasons apart from Promotion.

2. HRBP Team member and Team Lead should not have access to the promotion staff movement reason

3. The promotion staff movement r

[2017-11-21 12:58] carldek commented on #81
@Robert, i have updated this information this morning.

[2017-11-21 14:35] Adebukola commented on #73
Nwamaka Kalu is still unable to enter account numbers on the Employee link.  Please check

[2017-11-21 14:40] Adebukola commented on #69
Thanks Mandi.  Just going to raise a ticket now that HRBP is unable to enter date and interview status in the screen above.  It is only the comment box that is responsive right now.
Also, as per notification, only HRBPs need to be notified when employee logs exit request.  Supervisors are not to get the request until HRBP works on it.  Right now, supervisors get the request once employees log the

[2017-11-21 14:56] Adebukola opened #84 "HRBP not getting notification of exit request but supervisor getting notification"
As per BRD, only HRBPs need to be notified when employee logs exit request.  Supervisors are not to get the request until HRBP works on it.  Right now, supervisors get the request once employees log the request while HRBPs do not get notification.

[2017-11-21 15:12] Adebukola opened #85 "ACCESS/HRBP Team Member to have modify access on Exit Interview Screen"
HRBP Team Members as well as Team Leads should have access to modify the exit request.  Please note that this means the three fields in the Exit Interview tab should be editable by them.  Exit details entered by staff should not be editable by HRBPs

[2017-11-21 15:15] roberteta commented on #81
@ Carl, I just checked and the following is what is shown on the system;

Contract 1 - Existing Employee Take-On - BO Grade
Contract 2 - Relief Assignment - BT1 Grade
Contract 3 - Resumption from Relief Assignment - BT1 Grade

Please change all 3 contracts as changes from the front will prompt for the creation of a new contract.

I have logged a request to  remove access to change grade from HRBP

[2017-11-21 15:28] #48 closed

[2017-11-21 15:47] #14 closed

[2017-11-21 16:07] bldre03 commented on #52
Dear Team,

This has not been resolved.

Regards,

[2017-11-22 06:08] Mandiklopper commented on #81
Thanks @roberteta.  Please advise if the grades should be as indicated below:

Contract 1 - Existing Employee Take-On - BO Grade
Contract 2 - Relief Assignment - BO Grade
Contract 3 - Resumption from Relief Assignment - BO Grade

@carldek once Robert replies please update.

[2017-11-22 06:10] Mandiklopper commented on #52
@bldre03 this was corrected by @carldek.  Then @jayekwueme provided positions yesterday on a position template (with purple heading) and that was updated accordingly.  Please now indicate what the correct position is.  @roberteta this is very confusing for us getting different data from 2 different sources.

[2017-11-22 07:36] Mandiklopper commented on #84
http://senseable.co.za/scp/tickets.php?id=194 - not assigned on Senseable yet

[2017-11-22 07:54] Mandiklopper commented on #85
@chidiif please assist

[2017-11-22 07:54] Mandiklopper commented on #83
@chidiif please assist

[2017-11-22 07:55] Mandiklopper commented on #78
Completed by Adebayo Shoyoola .  Please retest

[2017-11-22 07:57] Mandiklopper commented on #41
Closed by JW.  Please retest.

[2017-11-22 08:09] chidiif commented on #85
This has been done.

[2017-11-22 08:14] bldre03 commented on #52
Good morning Mandi,

The staff was on relief assignment when data was migrated to PeopleConnect.

Kindly adopt the position code Jacquleyn advised.

Best Regards,

On Thu, Nov 16, 2017 at 12:39 PM, Mandiklopper <notifications@github.com>
wrote:

[2017-11-22 08:15] Mandiklopper commented on #2
Reopened on Senseable - http://senseable.co.za/scp/tickets.php?id=113 - Assigned to JW.

[2017-11-22 08:29] Mandiklopper commented on #42
@chidiif please advise status of this.

[2017-11-22 08:39] Mandiklopper commented on #52
@carldek we can leave the position then as is.  I am closing this ticket.

[2017-11-22 08:46] Mandiklopper commented on #58
Pierre has advised that this has now been fixed.  Please retest.

[2017-11-22 10:30] Mandiklopper commented on #2
@roberteta please advise if the stakeholders did not physically receive an email or could you not view it on Workflow Monitor?

[2017-11-22 10:32] Mandiklopper commented on #40
Closed by JW. Please test.

[2017-11-22 11:03] roberteta commented on #58
Can only test following a recent load of final exit. Feedback will be provided

[2017-11-22 11:33] #52 closed

[2017-11-22 11:38] roberteta commented on #78
Looks OK

[2017-11-22 11:38] #78 closed

[2017-11-22 11:54] roberteta commented on #76
User is still unable to login. Once he enters his username and password and clicks on the login button, it clears the usernae and password fields

[2017-11-22 12:40] roberteta commented on #76
User is ok now. Will reconfirm again tomorrow morning and ascertain the role of AD import to X3

[2017-11-22 12:40] #76 closed

[2017-11-22 13:52] Mandiklopper commented on #82
@bldre03 you will need to load the action of grade changes via the staff movement screen as promotion.
I am going to close this ticket but please let me know if you need assistance.

[2017-11-22 13:56] Mandiklopper commented on #79
https://senseable.co.za/scp/tickets.php?id=199 - Not yet assigned.

[2017-11-22 13:58] Mandiklopper commented on #79
Email sent by Robert:

Hello JW,

Please also urgently look into why there are no notifications being sent out for exit requests initiated via ESS. I believe this has been logged on GitHub

The request for A07835 has been approved by the HRBP team, but no notification was sent out to the staff supervisor to comment so it can be routed to the Exit Management team for final exit processing so that e

[2017-11-22 14:34] roberteta commented on #82
@ Mandi, he has already processed this as staff movement with reason as Promotion and redeployment notification was sent to his supervisor. But his supervisor Ugochi Okafor is not a HRBP Team Lead and so is unable to approve the transaction.

I believe that Staff Movement screen was developed with HRBP team members /team leads in mind.....but promotion is not handled by HRBPs.

Please confirm this

[2017-11-22 15:17] roberteta commented on #58
The request was for the inclusion of more than employee name as per comment entered 5days ago.

The notification should be as shown below

Dear Atinuke Oladele,

A final exit has been logged for the employee, with details below:

Employee ID: A21084
Employee Name: John Doe
Contract number: A21084NG0001
Position: ????
Dept/Branch: ????
Location: ?????

The exit clearance checklist has been generate

[2017-11-22 16:59] roberteta commented on #2
@ Mandi, The stakeholders did not physically receive any email, neither was thi seen on WF Monitor

See sample email below showing recipients

From: PeopleConnect@ubagroup.com [mailto:PeopleConnect@ubagroup.com]
Sent: Wednesday, November 22, 2017 1:26 PM
To: Okwubido, Chiagozie
Cc: Okafor, Amaka; Nze, Chima; Nnorom, Martha; Iragbonse, Yonke; Payrollvalidation
Subject: Redeployment A23928 - Chiagoz

[2017-11-22 17:01] roberteta commented on #81
@ Mandi / Carl.
Yes the grade should be as shown below

Please advise if the grades should be as indicated below:

Contract 1 - Existing Employee Take-On - BO Grade
Contract 2 - Relief Assignment - BO Grade
Contract 3 - Resumption from Relief Assignment - BO Grade

[2017-11-22 17:07] roberteta commented on #74
@ Mandi,
I am not sure i understand what you are proposing Or how this concerns legislation.

You don't seem to understand the  issue I have raised regarding the Residence Permit and Work Permit.

These are two different permits and they should each have a valid from and valid to dates.

What your system has is

Residence Permit with valid from field only
Work Permit with valid to field only

[2017-11-22 17:11] roberteta commented on #73
She has successfully entered account numbers

[2017-11-22 17:11] #73 closed

[2017-11-22 18:31] roberteta opened #86 "MARITAL STATUS UPDATE ON EMPLOYEE SCREEN"
The new employees loaded on the Arrival screen by Mandi on 14th November, all defaulted 'Common Law' as marital status and  'African Traditional' as Religion.

Attempts by HRBP Team Lead to update the marital status from Custom  Law to Single displays 'record has been modified' message, but on exiting the screen this record reverts to Commin Law.

[2017-11-23 06:59] Mandiklopper commented on #2
@roberteta this will not show on the workflow monitor.  This is still in progress as this is a custom development that the Dev team are working on.
In the example mail Payroll validation were included the cc line.  Which other stakeholders are you referring to?

[2017-11-23 07:21] carldek commented on #81
Updated all 3 contracts with Grade BO

[2017-11-23 11:28] Mandiklopper commented on #79
Completed by Pierre. Please retest.

[2017-11-23 11:29] Mandiklopper commented on #24
Closed by Pierre.  Please retest.

[2017-11-23 11:30] Mandiklopper commented on #23
Completed by Pierre.  Please retest.

[2017-11-23 11:34] Mandiklopper commented on #20
All workflows for sanction outcomes have been set to Active at 11:00 NGN time on 22 Nov 2017.

[2017-11-23 11:36] Mandiklopper commented on #25
Completed.  Please retest.

[2017-11-23 11:38] Mandiklopper commented on #67
@chidiif please assist

[2017-11-23 11:43] Mandiklopper commented on #58
Reopened on Senseable.

[2017-11-23 11:47] Mandiklopper commented on #86
http://senseable.co.za/scp/tickets.php?id=200 - Not yet assigned on Senseable.

[2017-11-23 11:52] Mandiklopper commented on #84
This has been solved.

[2017-11-23 13:24] roberteta opened #87 "PROBATION PERIOD IS AFFECTED BY STAFF MOVEMENT FOR CURRENT CONFIRMED STAFF"
A reassignment action performed to move a staff from a wrong position J0724016800004 to a correct position J0718016800004 updated the probation period in the employee's contract screen. It sets the probation period as the contract date plus 6 months

See details below;

1. A02510 - Probation period on Employment contract screen updated to 23/05/2018 based on a Reassignment done today 23/11/2017

[2017-11-23 13:40] Mandiklopper commented on #87
@roberteta what is the actual resumption date for that correct position.

[2017-11-23 13:44] Mandiklopper commented on #82
@roberteta, just to check.  With normal promotions who will do it.  If we look at promotions where it's not the bulk like with these transactions? Both single Promotions and bulk promotions have been build to be initiated by the HRBP.  Weren't the HRBP's suppose to do the promotion staff movements for these employees.

[2017-11-24 08:43] #64 closed

[2017-11-24 08:49] roberteta commented on #82
Mandi, during the show and tell sessions this was discussed and it was stated that HRBPs do not handle promotions be it single or bulk. It is handled by the Career Management team. The HRIS Administrator loads the request for promotion and it is approved by the Head of Career Management.

For the bulk promotions that are the outcome of appraisal recall that we asked for a bulk upload feature where

[2017-11-24 08:57] Mandiklopper commented on #74
@roberteta , I suggest the following:

**Work Permit** have a valid from and valid to field.  Should there not be an option to enter multiple.  So when the one Work Permit ends the next can be loaded?  This way you have a view of all work permits etc.

**Residence Permit** should perhaps have 2 options:
1)  Permanent Residence:  Only Valid from date
2)  Temp residence:  Valid from and valid to dat

[2017-11-24 10:54] Mandiklopper commented on #77
Delivery date: Monday Nov 27, 2017
Done on DEV2 requested to be patched on PREPOD.

[2017-11-24 10:55] Mandiklopper commented on #31
Delivery date: Monday Nov 27, 2017
Done on DEV2 requested to be patched on PREPOD.

[2017-11-24 10:56] Mandiklopper commented on #15
Delivery date Monday Nov 27, 2017.

Message from Bayo - I made the field hidden on DEV2 however Kiran suggest using code instead to avoid errors. I require a bit of guidance on how. Hope to get that done on Monday when I am in SA.

[2017-11-24 12:17] Mandiklopper commented on #82
@roberteta  and @bldre03, I had a look at the system and it seems like the employee codes were not yet changed and the promotions were also not loaded yet.  Did discuss with JW and he advised that it will not cause issues.  Please continue.

Yes with bulk promotions we will look at it with Performance Management.

[2017-11-24 12:34] #58 closed

[2017-11-24 12:39] roberteta commented on #87
@ Mandi, The correct resumption date should be the date included in the employee take-on data for this staff

[2017-11-24 12:45] roberteta commented on #87
02/05/2000

[2017-11-24 13:00] roberteta commented on #74
@ Mandi,

1. Work Permi - OK with your suggestion to have 'valid from and valid to fields and also be able to enter multiple records

2. Let me check with the team in Corporate services that handles expatriates and get back to you on this.

[2017-11-24 16:48] roberteta opened #88 "RREDEPLOYMENT NOTIFICATION SENT OUT FOR RELIEF ASSIGNMENTS LOADED.URGENT!!!!!!!!!"
Hello JW,

Please URGENTLY look into why Redeployment notifications are being sent out for Relief Assignments loaded on the system. Loading on GitHub as well.
Please see a sample redeployment notification below for a relief assignment that was loaded on the system.
Please look into this urgently as it has serious implications since it gives the staff and supervisors the wrong impression.

[2017-11-24 17:20] #10 closed

[2017-11-24 17:21] roberteta commented on #10
Closed based on notification sent to a staff who made the same changes

[2017-11-24 18:45] roberteta commented on #88
@ JW, Please see clarification by a HRBP Team lead

Dear Robert,

Notifications received when Relief Assignments are initiated by HRBP Team Members are  ‘Redeployment’ notifications.

However, the system shows Relief Assignment and a Relief Assignment notification is sent to staff upon approval of the transaction.

Thank you

[2017-11-24 20:08] roberteta commented on #84
Only HRBPs mapped to the site was notified

[2017-11-24 20:08] #84 closed

[2017-11-24 20:13] roberteta commented on #79
Confirmed as per Exit Request for A14109 &  A23361

[2017-11-24 20:13] #79 closed

[2017-11-24 20:16] roberteta commented on #41
No recent reoccurence

[2017-11-24 20:16] #41 closed

[2017-11-24 20:18] roberteta commented on #69
HRBP is able to enter date ,interview status and comments. To confirm that they are not able to update other areas prior to closing this

[2017-11-24 20:25] roberteta opened #89 "Approved Relief Assignments not impacting"
Hello JW,

Please see complaint by a HRBP team Lead - Ifeyinwa Unobagha

When I accept and save relief assignments, they are not impacted. They still remain on my “Awaiting my action” list.

Examples are below
•	A00940 – GRACE AMEH
•	A02557 – ADAEZE IYKE-MODOZIE
•	A07677 – NOEL NWAWOLO
•	A09521 – RITA OTUGHWOR

Regards

[2017-11-24 20:28] roberteta opened #90 "HRBPs Challenge 'Awaiting My Action' filter on Staff Movement Single Processing"
HRBP Team Leads are unable  to treat items showing under 'Awaiting my action’.

They can view them but have to go back to ‘Awaiting HR action’ to treat them…… This is not convenient and efficient and defeats the purpose of asking for this filter

[2017-11-27 05:14] Mandiklopper commented on #58
Closed by Pierre

[2017-11-27 05:16] Mandiklopper commented on #26
Yes, it has been patched to PREPROD on Wednesday 22 Nov

Please see ticket 254

[2017-11-27 05:28] Mandiklopper commented on #88
Closed by JW

[2017-11-27 05:28] #88 closed

[2017-11-27 05:35] Mandiklopper commented on #89
https://senseable.co.za/scp/tickets.php?id=202 - Not yet assigned on Senseable.

[2017-11-27 09:52] roberteta opened #91 "PROCESSES RELIEF ASSIGNMENTS NOT IMPACTING THUS NO NOTIFICATIONS ARE SENT OUT"
@ JW,

Please look into the complaint below urgently

Dear Robert,

Please help check my profile.

When I accept and save relief assignments, they are not impacted. They still remain on my “Awaiting my action” list.

I have the following relief assignments pending since Friday
•	A00940 – GRACE AMEH
•	A02557 – ADAEZE IYKE-MODOZIE
•	A07677 – NOEL NWAWOLO
•	A09521 – RITA OTUGHWOR

Please assist urgen

[2017-11-27 10:18] Mandiklopper commented on #91
Already logged on ticket 89 and assigned on Senseable.  Will give feedback soon.

[2017-11-27 10:18] #91 closed

[2017-11-27 10:22] Mandiklopper commented on #90
https://senseable.co.za/scp/tickets.php?id=203 - Not yet assigned on senseable.

[2017-11-27 10:47] Mandiklopper commented on #89
This has been solved. @roberteta please ask Ifeyinwa Unobagha to approve the transactions again.

[2017-11-27 11:07] Adebukola opened #92 "ACCESS/Access for Hospital Maintenance & Leave"
Please provide access as below to these staff
Olubunmi Nosiru ( A16642) Team Member HCM Operations Employee Services
Ajayi Abayomi Oluwadamilare (A17586) Team Member HCM Operations Payroll
Felix-Michael Lorraine (A16177) Team Member HCM Operations Payroll

Personnel Administration - Hospitals- CMS
All leave pages and views (as per sheet sent by Chidi)- CMS

[2017-11-27 12:39] roberteta commented on #89
@JW,
See feedback below from  Ifeyinwa Unobagha

•	A00940 – GRACE AMEH
•	A02557 – ADAEZE IYKE-MODOZIE
•	A07677 – NOEL NWAWOLO
•	A09521 – RITA OTUGHWOR

Out of the 4 requests above, I was able to treat for 2 out of the initial 4 ( Adaeze Iyke-Modozie and Grace Ameh); and also 2 fresh initiations (Omon Okogie and Ese Oruese)

The pending two (A07677 & A09521) now have dates in the past  (Nov 26th);

[2017-11-27 15:43] Adebukola opened #93 "Employee A24252 Oyebamiji Moradeke cannot be progressed from arrival screen"
The record for employee A24252 on the arrival screen cannot be saved by HRBP Team Lead so that it can move on. The save button is greyed out and not highlighted every time the Team Lead tries to save it.

[2017-11-27 17:02] roberteta opened #94 "EMPLOYEE ARRIVAL NOT PROCESSING AS EXPECTED"
Employee Arrival loaded and approved for A24257 is yet to be reflected in the Employee screen.

This request was initiated by HRBP Team Member and approved by HRBP Team Lead (Nwamaka Kalu) but the employee is yet to be pushed to the employee or employment contract screen.

[2017-11-27 17:50] roberteta opened #95 "AWAITING END DATES STAFF MOVEMENT"
Please investigate the following staff movements and advice on next steps to address these

1.  A07677 /Status (Awaiting End Date) / Message (Record doesn't exist)

2.  A09788 / Status (Awaiting End Date) / Message (Invalid dates)

HRBP Team Leads captured ne end dates using the Extension column pior to attempts to approve the request.

Note that other request loaded  with end dates in the pasts h

[2017-11-27 18:20] jw commented on #89
Sorry,

I am the wrong recipient, I fear...

Regards,
Jan Willems

On 27 Nov 2017 13:39, "roberteta" <notifications@github.com> wrote:

[2017-11-28 05:57] Mandiklopper commented on #92
@chidiif please assist.

[2017-11-28 06:03] Mandiklopper opened #96 "Arrival time on Arrival Screen"
Arrival time on Arrival screen not defaulting to 7:30.  This has been setup on the parameter screen but not defaulting.  Please also check that this pulls through to the contract.  Please also check that this pulls through to the contract. Please also look at the Initials field. If no middle name is filled in then the initials defaults to the 2 first letters of the name and 3 letters of surname. T

[2017-11-28 06:05] Mandiklopper commented on #96
https://senseable.co.za/scp/tickets.php?id=206 - Not yet assigned on Senseable

[2017-11-28 06:06] Mandiklopper commented on #93
@Adebukola I see that the information has been saved on the arrival screen for this employee.  The Offer accepted option has been greyed out.  Once this option has been selected no changes can be made on the record.  Did they click on offer accepted?

[2017-11-28 06:59] Mandiklopper commented on #89
Closed by JW.

[2017-11-28 07:06] Mandiklopper commented on #94
https://senseable.co.za/scp/tickets.php?id=207 - Not yet assigned on Senseable.

[2017-11-28 07:13] Mandiklopper commented on #95
@roberteta According to me A07677 was treated by ticket #89.  Please confirm.
A09788 has 3 contracts on the system and it shows the correct dates for all the contracts.  Please let me know if this item is also still an issue?  Currently I do see that the Staff movement screen shows awaiting end date but everything was approved and transaction completed.

[2017-11-28 07:22] Mandiklopper commented on #87
@roberteta I looked at the contract for the employee and it seems like the original contract with resumption date 02/05/2000 does not show.  Only a contract with resumption date 23/11/2017.  Did you use the reassignment option on staff movements when making then change?

[2017-11-28 09:30] chidiif commented on #92
Done. @Adebukola, Kindly assist to confirm the users are happy.

[2017-11-28 11:51] Mandiklopper commented on #93
I am looking into this.  Will give you feedback soon.

[2017-11-28 11:58] Adebukola commented on #42
This issue is slightly more than just access; access was granted but the transaction could not be concluded because the vendor management team members are not HRBPs mapped to sites. The vendor management team needs to be able to onboard, move and end vendor staff contracts, and vendor staff need to be able to be validated for payroll.  Onboarding means that the special Employee ID for vendor staff

[2017-11-28 12:17] Mandiklopper commented on #93
This has now been solved.  The employee does have a contract and employee record.

[2017-11-28 12:23] Mandiklopper commented on #42
@Adebukola , we can give them the access to do so but when it comes to Workflow it will cause an issue. This was not captured in the BRD and will need to moved to the change request section.  Robert does have the template to complete for the change request.

[2017-11-28 13:11] jayekwueme opened #97 "Migrate Employee Account Numbers data to newly created field on PeopleConnect"
A reminder to migrate employee account numbers data provided at take-on to the newly created field (UBA Account Number) on PeopleConnect

[2017-11-28 13:39] Mandiklopper commented on #94
Code has been fixed and this should process now.

[2017-11-28 15:50] roberteta commented on #77
Please confirm when this patching to PREPROD will be done and this is impacting efficiency on the Exit Management team

[2017-11-28 17:02] roberteta commented on #2
Hello Mandi,

The following stakeholders are not getting the staff movement notifications;

•	2nd level supervisors (both releasing and accepting)
•	Branch Managers(BM) for branch staff

This is based on review of sample email notifications sent out. See sample below

From: PeopleConnect
Sent: Monday, November 27, 2017 5:36 PM
To: Abdulganiyu, Bashir <bashir.abdulganiyu@ubagroup.com>
Cc: Oyewale,

[2017-11-28 17:05] roberteta commented on #87
@ Mandi,

Jacquelyn made the change on the employment cntract and when prompted, she selected reassignment as reason

[2017-11-28 17:11] roberteta commented on #82
@ Mandi, I dont understand what you mean by continue. The transaction has already been cancelled in the staff movement screen.

Are yu saying that the HRIS Administrator can change the employee ID using the guide you provided and then load these as staff movement selecting reason for movement as promotion?

[2017-11-28 19:26] roberteta commented on #95
Confirmed both have been treated evn though the error record for A09788 is still on the Staff movement screen

[2017-11-28 19:26] #95 closed

[2017-11-28 19:33] roberteta commented on #94
Resumption date 04/12/2017  not in sync with Anniversary Date,/Company Entry Date /Site Entry Date of 27/11/2017
The resumption date of the Staff should drive the other dates.

[2017-11-28 19:36] #93 closed

[2017-11-28 19:41] roberteta commented on #25
Same as #2

The following stakeholders are not getting the staff movement notifications;

•	2nd level supervisors (both releasing and accepting)
•	Branch Managers(BM) for branch staff

This is based on review of sample email notifications sent out. See sample below

From: PeopleConnect
Sent: Monday, November 27, 2017 5:36 PM
To: Abdulganiyu, Bashir bashir.abdulganiyu@ubagroup.com
Cc: Oyewale, Abdu

[2017-11-28 20:00] #89 closed

[2017-11-29 05:40] Mandiklopper commented on #96
Closed by JW.

[2017-11-29 06:51] Mandiklopper commented on #80
Closed by JW.

[2017-11-29 06:51] Mandiklopper commented on #86
Closed by JW.

[2017-11-29 06:56] Mandiklopper commented on #94
Reopened and assigned to JW.

[2017-11-29 07:00] Mandiklopper commented on #87
@roberteta reassignments must also be completed using the Staff movement option.  Reason for Movement:  STR14 - Reassignment.  This way the original contract will still be in place and a second contract will create.

[2017-11-29 07:02] Mandiklopper commented on #82
@roberteta yes that is correct.  Change the employee id's and then do staff movement selecting promotion.

[2017-11-29 13:09] roberteta opened #98 "Unable to Update Pension fund number & Pension fund administrator fields on Employee Screen - Others tab"
Data entered in the Pension Fund number and Pension Fund Administrator fields on the Employee screen  (Others Tab) is clared after being saved and getting the message 'Record Modified'

This issue was reported by HRBP Team Lead - Nwamaka Kalu and confirmed by me on attempts to update these fields.

Please investigate and fix as these information for newly onboarded employees cannot be saved in the

[2017-11-29 13:20] roberteta commented on #74
@ Mandi,

Based on feedback from the Cirporate Services team handling expatriate issues, both

Both Permanent & Temp Residence permits  are renewable and all have validity period.

In summary; fields should be provided n the system based on below;

•	Permanent Residence: Has both ‘valid from’ and ‘valid to’ dates
•	Temporal residence: Has both ‘valid from’ and ‘valid to’ dates.

Regards,

[2017-11-29 13:26] roberteta commented on #87
@ Mandi,
This will be a distortion of the career history of this person. The desire is not to create a new contract, and also loading as staff movement will send out notifications to the staff who is an Executive (GM grade).

Can this not be corrcted using the  export/import templates? Please confirm

[2017-11-29 13:45] Mandiklopper commented on #98
https://senseable.co.za/scp/tickets.php?id=208 - Not yet assigned on Senseable.

[2017-11-29 13:53] roberteta opened #99 "Multiple Email Notifications for Staff Movement"
Staff, HRBPs and other stakeholders get multiple notifications for the same staff movement as shown below;

Relief Assignments - 3 email notification each (Event Type - 2 Object & 1 Manual)
Redeployment - 2 notifications each (Event Type -  1 Object & 1 Manual)

Samples of the multiple notifications have been shared with me. Worrkflow Monitor also has multiple notifications

This is cloggig the ma

[2017-11-29 15:15] roberteta opened #100 "Error creating new positions"
The following error message is displayed in attempt to create a new position for Team Member, Enterprise Integration

A position cannot be hierarchically be linked to its subordinate.

Note that the new position was assigned level A5 and was to be linked to a Position on level A4 (Team Lead, EEnterprise Integration)

Please urgently treat as there are about 25 new positions to be created for new h

[2017-11-30 05:38] Mandiklopper commented on #100
https://senseable.co.za/scp/tickets.php?id=209 - Not yet assigned on Senseable.

[2017-11-30 05:38] Mandiklopper commented on #100
Mandi looked into this. The Levels cleared on Standard Jobs and this did show previously. Also the sequencing on the Position codes are incorrect. Should be 5 and not 4.

[2017-11-30 05:45] Mandiklopper commented on #99
http://senseable.co.za/scp/tickets.php?id=210 - Not yet assigned on Senseable.

[2017-11-30 05:48] Mandiklopper commented on #74
Logged info on Senseable for Kiran.

[2017-11-30 06:09] Mandiklopper commented on #87
@roberteta currently that is the way it was linked.  Even if we do it directly on the contract it will need to be a new contract.  If not, there will never be a record of the original start date of the contract.  This will also mean that the anniversary dates etc will change.  In the HR admin template with data provided Reassignment was one of the redeployment reasons and that is how the system ha

[2017-11-30 06:11] Mandiklopper commented on #2
Reopened on Senseable.

[2017-11-30 06:13] Mandiklopper commented on #90
Closed by JW.

[2017-11-30 06:28] Mandiklopper commented on #60
Still open on Senseable.  Requested delivery date from Dev team.

[2017-11-30 06:32] Mandiklopper commented on #15
Done on DEV2 and patched into DEV

[2017-11-30 06:38] Mandiklopper commented on #97
@carldek please attend to this.

[2017-11-30 07:03] carldek commented on #97
Hi Jacquelyn, Martin migrated the bank account numbers yesterday afternoon. Please check and confirm.
I also made a few checks this morning and all looks ok

[2017-11-30 08:01] roberteta opened #101 "Staff Movement Approver - GHHR showing as HRBP Team Lead"
Please look into Redeployment request for A00255.

Approver is showing as HRBP Team Lead
Approver Name is showing as Patricia Aderibigbe

Regards

[2017-11-30 15:49] roberteta opened #102 "MISSING DEPENDANTS TAB ON ESS - EMERGENCY!!!!"
One of the Executive Directors is trying to access his deppendants via ESS in order to make changes to hospitals

He is not able to see the deendant tab abd on checking from my end, this tab has disappeared and there is a blank tab with no title and does not open when clicked. See screenshot attached

Please urgently look into this.

[2017-12-01 05:38] Mandiklopper commented on #102
Solved by JW.

[2017-12-01 07:08] Mandiklopper commented on #31
Closed by Adebayo.  Please test.

[2017-12-01 07:09] Mandiklopper commented on #15
Closed.  Please test.

[2017-12-01 07:10] Mandiklopper commented on #77
Closed.  Please test.

[2017-12-01 09:47] Mandiklopper commented on #101
@roberteta I cannot see a staff movement transaction for A00255.

[2017-12-01 10:10] Mandiklopper commented on #100
@roberteta
These positions are causing the issue to add the functional reports to on the positions.  These positions are reporting to themselves?  Once you correct this on the system you will not get the error anymore:

Position Code	         Hierarchical Sup L1
J0018009900434	J0018009900434
J0018056900433	J0018056900433
J0018059400428	J0018059400428
J0146029100032	J0146029100032
J0211017001957	J0

[2017-12-01 10:53] Mandiklopper commented on #25
Closed by Pierre.

[2017-12-01 10:54] Mandiklopper commented on #83
@chidiif  any update on this?

[2017-12-01 10:55] Mandiklopper commented on #67
@chidiif please give an update on this.

[2017-12-01 10:55] Mandiklopper commented on #42
@chidiif please give an update on the access section.

[2017-12-02 10:53] jayekwueme commented on #97
Confirmed ok

[2017-12-02 10:53] #97 closed

[2017-12-02 10:56] #102 closed

[2017-12-02 11:54] jayekwueme commented on #100
Hello @Mandiklopper ,

I have re-mapped the indicated Positions and I have also done an export to identify positions without a functional report line and mapped all excluding the GMD but error message still persists when I try to create a new position.

![image](https://user-images.githubusercontent.com/29643618/33515188-e574f56c-d75f-11e7-8ec0-0175839037e7.png)

[2017-12-04 08:54] roberteta opened #103 "ACCESS/Approval of Staff Movement - Promotion"
@ Chidi,

Please grant access to Ugochi Okafor  (A22454 ) to enable her approve Promotion Staff Movement on the single processing and multi-processing screens.

Her current role is UBA Corporate HR Specialist - Talent Management

[2017-12-04 09:00] roberteta commented on #101
@ Mandi,

Sorry it is A00225 - Enitan Ayandokun

[2017-12-04 09:01] roberteta commented on #87
@ Mandi,
Can this not be corrcted using the export/import templates? Please confirm

[2017-12-04 09:04] #31 closed

[2017-12-04 09:06] #77 closed

[2017-12-04 09:23] chidiif commented on #103
@roberteta, the role - **Corp HR Spec Talent Manager** has been modified to be able to modify staff movement requests.

[2017-12-04 09:30] chidiif commented on #85
@Adebukola, Kindly confirm the users in both roles are happy to enable me close the case.

[2017-12-04 09:30] chidiif commented on #92
Done. @Adebukola, Kindly assist to confirm the users are happy.

[2017-12-04 09:34] roberteta commented on #82
@ Mandi / JW,

This Promotion staff movement has been loaded again and WF sent to approver. But attempt to approve came up with the message ' This is a staff movement transaction and at the position has to be updated'

Please note that promotion staff movement does not require a position change.

[2017-12-04 10:03] #103 closed

[2017-12-04 10:16] roberteta opened #104 "Notification message for Promotion Staff Movement"
The notification below was sent out for a Promotion Staff Movement transaction;

From: PeopleConnect@ubagroup.com [mailto:PeopleConnect@ubagroup.com]
Sent: Monday, December 4, 2017 9:17 AM
To: Okafor, Ugochi <Ugochi.Okafor@ubagroup.com>
Cc: Owoseni, Oyebola <oyebola.owoseni@ubagroup.com>
Subject: Staff movement A24217 - Olanike Ayandele

Dear Ugochi Okafor,

The following staff movement transactio

[2017-12-04 14:21] chidiif opened #105 "Unable to Modify Self record via ESS"
An Executive director -Dan Okeke, is unable to successfully update his personal records via ESS. The fields allows him modify the date but on trying to save, it returns the previous values in them and no status at the top of the page.

Kindly help to have the Dev guys look at it.

[2017-12-05 08:17] roberteta opened #106 "ACCESS/Unable to Access PeopleConnect - Temitope Aileru"
Staff, Temitope  Aileru is unable to access PeopleConnect using her UBA username and password.

Please check to confirm that he belongs to a group and has Preprod EndPoint login.

[2017-12-05 08:36] roberteta opened #107 "HMO not defaulting for New Hire after Onboarding"
The HMO linked to the grade of new hires is not defaulted to the Employee (Civil Status tab) or Employment Contract (Health Information tab)  of these staff.

Please look into this as this will affect their ability to select hospitals via ESS

[2017-12-05 08:42] chidiif commented on #106
Her setup-user login was bearing her maiden name – Ogunsanya. It has been resolved now.

Kindly advise user to login again.

[2017-12-05 09:02] chidiif opened #108 "ACCESS/Change Login for Users with New names"
Assist to change users login as their names have changed.
1.
Old Name: Okwudinka Azuka (A11212)
Old Email:  azuka.okwudinka@ubagroup.com
New Name: Okwudinka-Nwaigwe Azuka
New Email: azuka.okwudinka-nwaigwe@ubagroup.com

2
Old Name: Ogbukaonwu Mabel (A03559)
Old Email: mabel.ogbukaonwu@ubagroup.com
New Name: Nwabundu Mabel
New Email: mabel.nwabundu@ubagroup.com

[2017-12-05 09:17] Mandiklopper commented on #101
http://senseable.co.za/scp/tickets.php?id=214 - Logged on Senseable not yet assigned

[2017-12-05 09:19] Mandiklopper commented on #100
Mandi to look into this.

[2017-12-05 09:23] Mandiklopper commented on #104
http://senseable.co.za/scp/tickets.php?id=215 - Logged on senseable not yet assigned.

[2017-12-05 10:05] Mandiklopper commented on #107
http://senseable.co.za/scp/tickets.php?id=216 - Not yet assigned on Senseable.

[2017-12-05 11:15] jayekwueme opened #109 "Pension Administrator/Number, NHF Details not available on Employee Details Screen"
The Pension Administrator/Number, NHF Details not viewable on the employee details screen.

I also do not see a data capture field for the Prepaid Card PIN details.

[2017-12-05 11:17] jayekwueme commented on #109
Closing this because it had been logged earlier by Robert

[2017-12-05 11:19] jayekwueme commented on #109
Issue is with the data migrated for all staff. Robert's log is on users updating these fields on ESS

[2017-12-05 12:17] Adebukola opened #110 "Commendation letter and notification"
Please  delete the statement about 5 marks appraisal score in the notification and letter for commendation.  Commendation no longer has appraisal impact.

[2017-12-05 13:38] roberteta commented on #94
The following employees loded and approved are also stillon the Arrival screen

1) A24274
2) A24275
3) A24276

[2017-12-05 13:41] roberteta commented on #106
Successful login confirmed

[2017-12-05 13:41] #106 closed

[2017-12-05 14:27] Mandiklopper commented on #105
http://senseable.co.za/scp/tickets.php?id=217 - Not yet assigned on Senseable.

[2017-12-05 14:31] Mandiklopper commented on #94
Closed.  I checked and did get the employee record and contract.

[2017-12-05 15:05] Mandiklopper commented on #94
Assigned to JW on Senseable.

[2017-12-05 15:12] Mandiklopper commented on #94
@roberteta , Did the HRBP Supervisor receive the email notification of the 3 employees?  Did they approve al 3 on MSS?

[2017-12-05 15:15] Mandiklopper commented on #109
https://senseable.co.za/scp/tickets.php?id=218 - Not yet assigned on Senseable.

[2017-12-05 15:21] Mandiklopper commented on #110
https://senseable.co.za/scp/tickets.php?id=219 - Not yet assigned on Senseable.

[2017-12-05 15:30] Mandiklopper commented on #82
https://senseable.co.za/scp/tickets.php?id=220 - Logged on Senseable not yet assigned.

[2017-12-05 15:59] chidiif commented on #108
Done

[2017-12-05 15:59] #108 closed

[2017-12-06 09:06] roberteta commented on #94
@ Mandi, Yes the HRBP team Lead got notifications and approved all 3 by ckicking the accept link on the email notification.
These staff were still on the Arrival screen when she logged in to PeopleConnect and she again clicked in Offer Accepted and saved. Still these records are still on the Arrival screen, but the Offer Accepted link is greyed out.

[2017-12-06 09:33] Mandiklopper commented on #101
This redeployment was captured on X3 and the rule is that the supervisor of the user that created it on X3 is the HRBP.
Transaction captured by NGOKO, employee id is A03890, and supervisor A23364 (Patricia).

[2017-12-06 10:49] Mandiklopper commented on #94
Closed.  All 3 employees have now been processed.  Access caused this issue with the acceptance link.  The workflow message has been adjusted to solve this going forward.

[2017-12-06 10:52] Mandiklopper commented on #105
@chidiif, What did the user try to update, we need to know specifically what was updated. Also please confirm the employee ID is A03809.
Regards,
Kiran

[2017-12-06 11:28] chidiif commented on #105
He tried to edit he's Dependents information.

[2017-12-06 11:41] chidiif opened #111 "ACCESS/Approval Profile - Lead HRBP Abuja East and South"
Please assign Chinyere Uche-Ebere to HRBP Team Lead role.

[2017-12-06 11:41] #111 closed

[2017-12-06 11:43] #85 closed

[2017-12-06 11:57] Mandiklopper commented on #98
Closed.  Please retest.

[2017-12-07 07:56] Mandiklopper commented on #82
Completed.

[2017-12-07 08:06] Mandiklopper commented on #100
Reassigned on Senseable to JW to look at the error.

[2017-12-07 08:11] Mandiklopper commented on #67
Closed by Chidi.

[2017-12-07 08:14] Mandiklopper commented on #87
@roberteta it can be corrected with the import template but not the right way to do it.  A new contract needs to be created.  That is the process that needs to be followed for Reassignments.

[2017-12-07 08:16] Mandiklopper commented on #42
@chidiif advised that this is a change request.  Waiting for the CR template to continue.  @roberteta please assist.

[2017-12-07 09:14] Mandiklopper commented on #100
Solved.  Please retest.

[2017-12-07 09:17] Mandiklopper commented on #99
@roberteta according to me this has been closed.  Please confirm.

[2017-12-07 09:19] Mandiklopper opened #112 "Import Standard Job Levels"
@carldek please import all standard job levels.  Seems like it cleared on the system.

[2017-12-07 09:27] Mandiklopper commented on #110
@Adebukola this is not on the message or letter. Please check if entered on the Final commendation detail.

[2017-12-07 14:58] Mandiklopper commented on #107
Closed by JW

[2017-12-07 15:02] roberteta opened #113 "RELIEF ASSIGNMENT ERROR MESSAGE"
The attached contains the error message when trying to initiate  a relief assignment for A07355 from the Single processing screen

Error Message - FIELD ERROR  Employee ID
001 - You cannot access this service

[2017-12-08 12:17] MartinKruger opened #114 "Serious Medical Condition"
Type should be a drop down list. There should be a separate view for Serious Medical Conditions. In that view there should be a field for ‘Condition’ and another field for ‘Summary of Condition’.
The view where this will be captured must be available to employee via ESS, as well as HRBP team members and team leads (X3 People).

[2017-12-08 13:01] MartinKruger opened #115 "Serious Medical Condition Workflow"
If employee logs the request, HRBP team member for that employee as well as the HRBP team lead should get notification that employee has logged a serious medical condition. Attachment should be visible to the HRBPs The notification that will go to HRBP team member and lead is:

_Dear xyz,

This is to notify you that Employee Name, (Employee ID), Job Title, Department or Branch has logged a serious

[2017-12-08 13:05] MartinKruger opened #116 "WF: Sick leave - Notification"
[Senseable Ticket #212](https://senseable.co.za/scp/tickets.php?id=85&a=edit)

- Email notification in respect of approve sick leave should contain leave duration and other details such as impact on salary (e.g. full pay /half pay) where applicable.

- Salary impact: write generic shortened note describing policy (not specific to employee)

[2017-12-08 13:08] MartinKruger opened #117 "WF: Extended Sick Leave Notification"
[Senseable Ticket #212](https://senseable.co.za/scp/tickets.php?id=86)
- Email notification for extended sick leave to be reviewed one month to the expiration of the leave period.

[2017-12-08 13:21] MartinKruger opened #118 "MSS Leave Modification"
- Leave Admin/ Supervisor should be able to perform changes to applied leave on behalf of subordinate

[2017-12-08 13:21] MartinKruger commented on #118
Kiran Ramnath posted 06 Dec 17 @ 12:12

- Leave Admin/ Supervisor should be able to perform changes to applied leave on behalf of subordinate

[2017-12-08 13:21] MartinKruger commented on #118
Martin Kruger posted 07 Dec 17 @ 10:05; Ticket Assigned to Kiran Ramnath

- Please pass this request to R&D for change.

[2017-12-08 13:23] P1errevanZyl commented on #116
Please supply the content of the policy to add it to the

[2017-12-08 13:28] P1errevanZyl commented on #117
This workflow has been done on 10.16, and patched to DEV & TEST, as well as UBA TEST & UAT.

It has been added to the recurring task management on 10.16

[2017-12-08 13:28] #117 closed

[2017-12-08 13:30] MartinKruger opened #119 "WF: Staff movement notification"
[Senseable Ticket #240](https://senseable.co.za/scp/tickets.php?id=113)
**Robert Eta posted 07 Nov 17 @ 17:48**
See redeployment notification received none of stakeholder i.e. receiving and releasing supervisors, payroll, etc.

Refer to email print screen of notification sent out.

[2017-12-08 13:30] MartinKruger commented on #119
Jan Willem van Jaarsveld posted 09 Nov 17 @ 14:11 Ticket Assigned to Mandi Klopper
Staff, HRBP member, HRBP team lead, receiving and releasing supervisors and payroll will now be copied in the same email. However, the stakeholder group for Payroll must be loaded

[2017-12-08 13:31] MartinKruger commented on #119
Mandi Klopper posted 13 Nov 17 @ 10:24
Message from Robert:

There is no payroll mailing group currently. Payrollvalidation@ubagroup.com is for GSS-HCM and other staff that have worked on payroll before now.

JW to confirm if this is what is needed.

[2017-12-08 13:31] MartinKruger commented on #119
Mandi Klopper posted 14 Nov 17 @ 10:37

See redeployment notification received none of stakeholder i.e. receiving and releasing supervisors, payroll, etc.

See redeployment notification received none of stakeholder i.e. receiving and releasing supervisors, payroll, etc.

Refer to email print screen of notification sent out.

Refer to email print screen of notification sent out.

Look into this as

[2017-12-08 13:31] MartinKruger commented on #119
Mandi Klopper posted 14 Nov 17 @ 10:39 Ticket Assigned to Jan Willem van Jaarsveld
Please look into this as well when you complete this task.

[2017-12-08 13:31] MartinKruger commented on #119
Jan Willem van Jaarsveld posted 14 Nov 17 @ 10:53
Initiator is now copied in.

[2017-12-08 13:31] MartinKruger commented on #119
Mandi Klopper posted 22 Nov 17 @ 10:09
Re-opened this ticket. Mandi did set up the stakeholders as instructed:

Message from Robert:
Only HRBP Team Member, Team Lead and Supervisors (Releasing and Receiving) were copied. Other stakeholders including payroll validation were not copied.

[2017-12-08 13:32] MartinKruger commented on #119
Jan Willem van Jaarsveld posted 22 Nov 17 @ 12:32 Status Changed
Did the stakeholders not receive an email, or is this just based on the fact that they did not show in the workflow monitor?

[2017-12-08 13:32] MartinKruger commented on #119
Mandi Klopper posted 23 Nov 17 @ 09:00
@roberteta this will not show on the workflow monitor. This is still in progress as this is a custom development that the Dev team are working on.
In the example mail Payroll validation were included the cc line. Which other stakeholders are you referring to?

[2017-12-08 13:32] MartinKruger commented on #119
Mandi Klopper posted 30 Nov 17 @ 08:11
Message from Robert:

Hello Mandi,

The following stakeholders are not getting the staff movement notifications;

• 2nd level supervisors (both releasing and accepting)
• Branch Managers(BM) for branch staff

This is based on review of sample email notifications sent out. See sample below

From: PeopleConnect
Sent: Monday, November 27, 2017 5:36 PM
To: Abdulg

[2017-12-08 13:33] chidiif opened #120 "ACCESS/Access on Sage for QA Reviews"
As discussed and as per the email trail, please grant Laja Sorunke (the QA Manager on the project) the same profile as the HRIS Administrator to enable him perform post-implementation QA reviews.

[2017-12-08 13:34] chidiif commented on #120
Done. User have been elevated to HRIS Role

[2017-12-08 13:34] #120 closed

[2017-12-08 13:37] bldre03 opened #121 "Update for A24242"
Dear Mandi,

Kindly assist the update for staff below.

[Update for A24242.xlsx](https://github.com/Mandiklopper/UBA-People-Connect/files/1542747/Update.for.A24242.xlsx)



[2017-12-08 13:50] bldre03 opened #122 "INCORRECT GRADE"
Dear Mandi,

Kindly assist to update the grade for staff in the attached screenshot.

Incorrect Grade - ABO ; Correct Grade - SBO.

![grade update for_a04260_okhiria gladys](https://user-images.githubusercontent.com/33657390/33768446-5dad7692-dc26-11e7-9794-cf786d4b434e.png)

Regards,

[2017-12-08 14:06] Mandiklopper commented on #113
@roberteta who tried to initiate the request?

[2017-12-08 14:07] Mandiklopper commented on #122
@carldek please update with the import option.

[2017-12-08 14:08] Mandiklopper commented on #121
@carldek please update with import on contract.

[2017-12-08 14:48] MartinKruger opened #123 "Contract number"
**Carl de Kock posted 13 Nov 17 @ 10:46**
Employee A09347 contract number has a space A09347 NG0001. Please remove the space between ID number and NG0001

[2017-12-08 14:53] MartinKruger opened #124 "Leave Balance Screen"
[Senseable Ticket #278](https://senseable.co.za/scp/tickets.php?id=150)
**Nicholas Smit posted 15 Nov 17 @ 11:33**
Hi Martin.

Could you possibly check what exactly updates the balances on the following screens, we seem to be getting different results for different screens. So if you could just let us know what exactly updates the balances and totals then I can look at getting those totals or calc

[2017-12-08 14:57] carldek commented on #121
Import Update complete

[2017-12-08 14:57] carldek commented on #122
Import Update complete

[2017-12-08 15:10] Mandiklopper commented on #109
Updated YEXITCLRES_RSPE on NGADEV will move to UBA with next patch

[2017-12-08 15:10] #109 closed

[2017-12-08 15:17] MartinKruger opened #125 "Approved Leave - Tracking Status Error"
[Senseable Ticket #281](https://senseable.co.za/scp/tickets.php?id=153)
**Emmanuel Edhedhe posted 16 Nov 17 @ 16:10**
Already approved leave which shows taken and balance correctly but display tracking status as Rejected on ESS and on Entry of absence screen.

[2017-12-08 15:17] MartinKruger commented on #125
**Martin Kruger posted 29 Nov 17 @ 16:42**
This could have been due to re-integration of data tables during the testing time.

If you encounter this again, could you include screen shots/video or show us.

[2017-12-08 15:18] MartinKruger commented on #125
**Emmanuel Edhedhe posted 07 Dec 17 @ 10:12**
This issue is still been experience

[2017-12-08 15:18] MartinKruger commented on #125
**Martin Kruger posted 07 Dec 17 @ 10:29 Ticket** _Assigned to Kevin Meyer_
When a new leave transaction is captured, the start status is currently 'Accepted', this has to be 'Requested'.
After the transaction is now approved, the status now shows 'Rejected' even though it was accepted.

I am thinking that the Local Menu probably changed or the code reference has.

Please check with Kiran if this

[2017-12-08 15:21] MartinKruger commented on #125
**Kiran Ramnath posted 07 Dec 17 @ 12:34**
Hi,

There are 2 issues

1. The leave periods cycle start date's where incorrect (i.e. we needed to change it the financial year cycle and not the anniversary date cycle like we initially configured)

I have fixed these periods on UBAUAT for 2017 on all leave types. Please fix the other years (formula below) and check the setup on each leave period (I saw

[2017-12-10 12:39] Mandiklopper opened #126 "BRD Item: Viewing existing Exit requests"
HR Admin BRD (Exit Management) - 4.2.4.12 not implemented yet:

"On the employee contract, a link will be added to show the latest employee Exit logged on the ESS application.  The naming of the link will be Exit requests.  Once the user clicks on the link it will show a read only page with the data captured on ESS by the employee, HRBP and MSS by the Supervisor.
"

[2017-12-10 22:13] MartinKruger opened #127 "Approved Leave - Tracking Status Error"
[Senseable Ticket #281](https://senseable.co.za/scp/tickets.php?id=153)

**Emmanuel Edhedhe posted 16 Nov 17 @ 16:10**
Already approved leave which shows taken and balance correctly but display tracking status as Rejected on ESS and on Entry of absence screen.

[2017-12-10 22:13] MartinKruger commented on #127
**Martin Kruger posted 29 Nov 17 @ 16:42**
This could have been due to re-integration of data tables during the testing time.

If you encounter this again, could you include screen shots/video or show us.

[2017-12-10 22:14] MartinKruger commented on #127
**Emmanuel Edhedhe posted 07 Dec 17 @ 10:12**
This issue is still been experience

[2017-12-10 22:14] MartinKruger commented on #127
**Martin Kruger posted 07 Dec 17 @ 10:29** _Ticket Assigned to Kevin Meyer_
When a new leave transaction is captured, the start status is currently 'Accepted', this has to be 'Requested'.
After the transaction is now approved, the status now shows 'Rejected' even though it was accepted.

I am thinking that the Local Menu probably changed or the code reference has.

Please check with Kiran if this

[2017-12-10 22:15] MartinKruger commented on #127
**Kiran Ramnath posted 07 Dec 17 @ 12:34**
Hi,

There are 2 issues

1. The leave periods cycle start date's where incorrect (i.e. we needed to change it the financial year cycle and not the anniversary date cycle like we initially configured)

I have fixed these periods on UBAUAT for 2017 on all leave types. Please fix the other years (formula below) and check the setup on each leave period (I saw

[2017-12-10 22:17] MartinKruger commented on #127
@Pappabeer Please assign to Emmaneul for completion

[2017-12-10 22:20] MartinKruger opened #128 "Unauthorized Absence"
**Emmanuel Edhedhe posted 17 Nov 17 @ 14:40**
The workflow sent our was to HRBP and final Leave Admin.
But there is none for Exit Management.

I need more explanation as to when and how the exit management will get notification if it flows their way.

[2017-12-10 22:20] MartinKruger commented on #128
**Jan Willem van Jaarsveld posted 28 Nov 17 @ 16:40**
Has the Exit management been set up as a FYI on the Signature management tab??
It will go out on the final approval

[2017-12-10 22:21] MartinKruger commented on #128
**Emmanuel Edhedhe posted 28 Nov 17 @ 17:56**
Yes the Exit management is ticked on the Leave Admin position

[2017-12-10 22:21] MartinKruger commented on #128
**Jan Willem van Jaarsveld posted 28 Nov 17 @ 18:02**
Please recheck the Workflow process at the top, as Exit management is not part of the flow, but Work Ethics is.

This screen dump you provide is not the Signature management tab on Nature of Events that I am referring to.

[2017-12-10 22:21] MartinKruger commented on #128
**Emmanuel Edhedhe posted 28 Nov 17 @ 18:13**
The information was wrong its not Exit management but work ethics.
What i meant was the Work Ethics team FYI in cases where they need to treat before it gets to the Leave Admin.

However it is ticked on the signature management

[2017-12-10 22:21] MartinKruger commented on #128
**Jan Willem van Jaarsveld posted 29 Nov 17 @ 17:15**
Can you please find out if this would be an issue if the Notification for Work ethics go out only upon approval by Leave admin. Alternatively we can CC them in the mail that goes to the Leave admin?

Please advise.

[2017-12-10 22:21] MartinKruger commented on #128
**Emmanuel Edhedhe posted 05 Dec 17 @ 16:18**
They should be CC in the mail that goes out to leave Admin, SO that in case they need to act on it they can do so and finalized it before the leave admin approves.

In a case where they dont need to take any action they have FYI and the leave admin does approves

[2017-12-10 22:24] MartinKruger opened #129 "IDM"
**Martin Kruger posted 17 Nov 17 @ 12:38**
Do the funky IDM

[2017-12-10 22:26] MartinKruger opened #130 "Exclude vendors from ESB"
**Martin Kruger posted 17 Nov 17 @ 14:28**
Exclude vendors from ESB

[2017-12-10 22:28] MartinKruger opened #131 "Leave Plan"
**Emmanuel Edhedhe posted 20 Nov 17 @ 16:19**

Relief clash requirement/validation/code should be part of Leave plan request process.

[2017-12-10 22:29] MartinKruger commented on #131
**Martin Kruger posted 06 Dec 17 @ 17:30**
Kiran did this on X3 and is busy with it on SS.
Note: This should have been a change request as this now contradicts the BRD. Point 12.9 on the BRD states you get your Relief approved before the plan is initiated and the Relief is not included in the leave plan approval. Point 12.13 is contradiction to this, though for Maternity leave only.

[2017-12-10 22:31] MartinKruger opened #132 "Integration: AVAYA"
**Martin Kruger posted 21 Nov 17 @ 11:27**
Create view in X3.

[2017-12-10 22:32] MartinKruger opened #133 "Integration: Fintrak"
**Martin Kruger posted 21 Nov 17 @ 11:29**
Create view in X3.

[2017-12-10 22:33] MartinKruger opened #134 "Integration: MAXIM"
**Martin Kruger posted 21 Nov 17 @ 11:31**
Create view in X3.

[2017-12-10 22:34] MartinKruger opened #135 "Integration: POS"
**Martin Kruger posted 21 Nov 17 @ 11:33**
Create view in X3.

[2017-12-10 22:35] MartinKruger opened #136 "Integration: ACTIMIZE"
**Martin Kruger posted 21 Nov 17 @ 11:35**
Create view in X3.

[2017-12-10 22:36] MartinKruger opened #137 "Integration: Group Response Portal"
**Martin Kruger posted 21 Nov 17 @ 11:36**
Create view in X3.

[2017-12-10 22:37] MartinKruger opened #138 "Integration: Infopool"
**Martin Kruger posted 21 Nov 17 @ 11:37**
Create view in X3.

[2017-12-10 22:39] MartinKruger opened #139 "WF - Compassionate Leave"
**Emmanuel Edhedhe posted 22 Nov 17 @ 09:35**

WF (Change Request)
HRBP - FYI
1&2nd supervisor - FYI

[2017-12-10 22:39] MartinKruger commented on #139
**Jan Willem van Jaarsveld posted 22 Nov 17 @ 16:23** _Status Changed_
When?

[2017-12-10 22:39] MartinKruger commented on #139
**Emmanuel Edhedhe posted 27 Nov 17 @ 09:24**
The above stakeholders need to included in the WF notification

Will adding them to the signature management Tab on Nature of events complete this?

[2017-12-10 22:39] MartinKruger commented on #139
**Pierre Van Zyl posted 29 Nov 17 @ 16:41**
Yes, it will notify them at the end of the process when the leave is approved.

Please test it after you added them on signature management

[2017-12-10 22:41] MartinKruger opened #140 "WF - Sick Leave"
**Emmanuel Edhedhe posted 22 Nov 17 @ 09:51**
If Sick leave application is More than 5 days WF should notify GHHR (Change request)

[2017-12-10 22:41] MartinKruger commented on #140
**Jan Willem van Jaarsveld posted 22 Nov 17 @ 16:38** _Status Changed_
When does the GHHR get notified? On creation of the request or final approval? Is this a CC in the mail or seperate?

[2017-12-10 22:41] MartinKruger commented on #140
**Emmanuel Edhedhe posted 27 Nov 17 @ 13:23**
If less than 5 days it goes to Leave Admin

If days more then 5 days upon application the First notification and approval goes to GHHR and lastly Leave Admin.

[2017-12-10 22:41] MartinKruger commented on #140
**Jan Willem van Jaarsveld posted 28 Nov 17 @ 16:54**
The BRD only show the GHHR to be part of the extended leave approval. Is this a change request?

[2017-12-10 22:42] MartinKruger commented on #140
**Emmanuel Edhedhe posted 28 Nov 17 @ 17:58**
Yes. This is a change request as it deviate from the BRD

They just add that condition for GHHR to be part of the approval if more than 5 days whcih falls under the Sick leave 1.

[2017-12-10 22:42] MartinKruger commented on #140
**Jan Willem van Jaarsveld posted 28 Nov 17 @ 18:08** _Ticket Assigned to Emmanuel Edhedhe_
Assign back, once change request has been completed and requirement has been finalised.

[2017-12-10 22:43] MartinKruger opened #141 "Course of Study"
**Emmanuel Edhedhe posted 30 Nov 17 @ 13:44**
No Delete or Modify button
Kindly include delete option

[2017-12-10 22:43] MartinKruger commented on #141
**Kevin Meyer posted 30 Nov 17 @ 16:44**
Hi Emmanuel,

Hope you are doing well.

What will happen to the approved leave when deleting a course?

Kind regards,

[2017-12-10 22:43] MartinKruger commented on #141
**Emmanuel Edhedhe posted 30 Nov 17 @ 16:54**
Approved course will remain the same. Only if there is a cancellation due to staff drop out etc, However in the event that their is a termination of the course the Examination leave already taken will still be on the employee record.

But upon creation and there is an error the employee should be able to delete or modify the request and re-initiate .

[2017-12-10 22:44] MartinKruger commented on #141
**Kevin Meyer posted 05 Dec 17 @ 08:33**
Hi Emmanuel,

We have added a delete button on http://10.16.109.50:8124/

It will be patched out during the next patching.

Regards,

[2017-12-10 22:44] MartinKruger commented on #141
**Kevin Meyer posted 06 Dec 17 @ 14:34**
Hi Emmanuel,

This has been patched to UAT please will you test and confirm if we may resolve this ticket?

Thanks.

[2017-12-10 22:55] MartinKruger opened #142 "WF - Notification base on Grades"
**Emmanuel Edhedhe posted 30 Nov 17 @ 16:36**
Upon final approval on all leave type application for grades from AGM and Above the GHHR and GMD must get FYI notification.

[2017-12-10 22:56] MartinKruger opened #143 "WF Clause/Condition"
**Emmanuel Edhedhe posted 30 Nov 17 @ 16:47**

If the selected relief supervisor is the same as the staff supervisor. The supervisor should get only one approval email.

Example: The staff and his relief are in the same department and have the same line supervisor.

On Application/request of Annual Leave

Relief approves
Relief Supervisor approves
Line Supervisor approves
Second Level Supervisor g

[2017-12-10 23:09] Pappabeer commented on #127
Guys why can't I assign this to Emmanuel @MartinKruger @Mandiklopper @Michael-Britz

[2017-12-11 07:23] kiranramnath commented on #131
Please test on UAT, deployed on Saterday

[2017-12-11 07:31] kiranramnath commented on #74
Deployed to UBAUAT please test

[2017-12-11 07:32] kiranramnath commented on #74
@Mandiklopper Ready to test on UBAUAT

[2017-12-11 07:33] kiranramnath commented on #71
@Mandiklopper Ready for testing on UBAUAT

[2017-12-11 08:30] MartinKruger commented on #72
Mandi has meeting on 14 December to follow up on the current progress

[2017-12-11 11:07] Mandiklopper commented on #71
@kiranramnath looked at ubauat.  Did not see the attachment options.

[2017-12-11 11:12] Mandiklopper commented on #105
@kiranramnath please see the comment from @chidiif

[2017-12-11 11:15] Pappabeer opened #144 "Testing Leave of Absence"
Nic to test leave of absence

[2017-12-11 11:17] Pappabeer opened #145 "Testing Maternity Leave"

[2017-12-11 11:17] Mandiklopper commented on #119
Duplicate See #2

[2017-12-11 11:17] #119 closed

[2017-12-11 11:18] Pappabeer opened #146 "Leave test Cases"
	Part 2: ESS

[2017-12-11 11:19] Pappabeer opened #147 "Leave test cases"
	Part 1: Normal system functionality

[2017-12-11 11:28] Pappabeer opened #148 "Follow up on data templates"
Emmanuel sent data templates to UBA on the 23rd November 2017 this has not been received back as yet

[2017-12-11 11:29] Pappabeer opened #149 "Follow up on Access information"

[2017-12-11 11:29] Pappabeer opened #150 "Follow up on Change request"

[2017-12-11 11:29] Pappabeer opened #151 "Arrange UAT session: 13 to 15 December 2017"

[2017-12-11 12:21] NicSmit commented on #144
Leave of Absence was tested and works, the only point remaining is the payroll touch points and the Payroll stream have confirmed that they are busy working on it.

[2017-12-11 12:50] chidiif opened #152 "ACCESS/Change People Connect Login for CE01233"
Kindly change people connect Login for CE01233. User has undergone name change and AD login has been updated.

[2017-12-11 12:56] Pappabeer commented on #144
@Michael-Britz please check and confirm

[2017-12-11 13:47] Mandiklopper commented on #112
@jayekwueme I sent a mail over the weekend as well.  Please give an update on this.

[2017-12-11 14:24] Mandiklopper opened #153 "Disciplinary Attachments"
Attachment should be enabled and thereafter it must be viewable by Work Ethics team on both the Disciplinary Case and Disciplinary screens.

[2017-12-11 14:44] Mandiklopper opened #154 "WF: Suspension under investigation"
The email notifications for suspension under investigation that we got yesterday was wrong (it is attached).  The right one is the Indefinite Suspension notice in the template you were given.  The closing sentence is wrong in the attached.

[2017-12-11 14:49] carldek commented on #123
Checked and confirm contract number is fixed

[2017-12-11 14:49] #123 closed

[2017-12-11 15:10] MartinKruger opened #155 "Extract language translations"
Extract a spreadsheet listing all fields with their various language translations in columns.

Do this for:
- Screen names
- Field labels
- Local menus
- Miscellaneous tables
- Workflow messages

[2017-12-11 15:19] NicSmit commented on #145
Initial testing is done and the balances are updating, The payroll touch point will be done with leave of absence, #144 We have an issue with posting in future periods on TEST, investigating the problem

[2017-12-12 05:16] EmmanuelEdhedhe opened #156 "Hide PORTAL TAB On Nature of Events"
Please remove the Portal tab on the nature of event as its currently not used on the current ESS screen

[2017-12-12 07:16] chidiif opened #157 "ACCESS/User unable to log into People Connect"
A new hire (A24255) resumed Dec 1, 2017 and has not been able to gain access into the PeopleConnect portal. Kindly assist to resolve this challenge.

[2017-12-12 07:18] chidiif commented on #157
User created on endpoint. @roberteta, kindly confirm user can now log in. Thank you

[2017-12-12 08:22] roberteta opened #158 "FIELD ERROR - EMPLOYEE ID"
Attempts by HRBP team member ( A15774) to process Relief Assignment for the following A07355, A07355 & A09932 results in the Field Error - Employee ID error message '001: You cannot access this service' upon entry of employee ID on the single processing screen.

Please urgently look into this issue

[2017-12-12 08:31] roberteta opened #159 "Staff Movement - Single Processing Approver Name now showing approver Emp. ID"
A review of the single processing screen shows that the Approver name that previous;y shows the name of the Approver is now showing only the Employee ID of the approver.

Please look into this.

Regards,

[2017-12-12 09:03] Mandiklopper commented on #158
@jwvjaar please look into this.

[2017-12-12 09:04] Mandiklopper commented on #159
@jwvjaar please look into this.

[2017-12-12 09:12] #159 closed

[2017-12-12 09:24] #128 closed

[2017-12-12 09:24] jwvjaar commented on #128
If Work Ethics is set up as FYI, they will receive a notification upon final approval.

[2017-12-12 09:30] jwvjaar commented on #156
Since the Nature of Events screen will not be used very often, I cannot see the purpose of hiding this tab.
Parked.

[2017-12-12 09:33] chidiif opened #160 "ACCESS/Change user login - A23454"
Please assist, as I don’t have access to HCM portal following my change of name application.

[2017-12-12 09:35] #92 closed

[2017-12-12 09:38] Mandiklopper commented on #105
@jwvjaar please look into this.  Kiran not available.

[2017-12-12 09:44] chidiif opened #161 "ACCESS/Grant user Access to Hospital Management"
Kindly grant access to all medical view to A05615.

Regards,
@Adebukola

[2017-12-12 09:45] chidiif commented on #161
A05615, has been granted CM (Create and modify rights) on Hospital (GESYHOSP).

[2017-12-12 09:45] #161 closed

[2017-12-12 09:55] chidiif commented on #160
Done.

[2017-12-12 09:55] #160 closed

[2017-12-12 11:03] #107 closed

[2017-12-12 11:05] roberteta commented on #113
HRBP Team Member - A15774

[2017-12-12 11:45] Mandiklopper opened #162 "Medical Reference number"
For HMO report purposes this field needs to be available on X3 People and also on Self Service.  The field will need to be added for future purposes.

[2017-12-12 13:50] EmmanuelEdhedhe opened #163 "Unapproved Relief Manually Inserted"
Upon application of leave. An employee with no approved relief can manually insert any employee in the relief field and the system accept the relief and transaction.

Build a rule to stop the transaction

Exclude/Exception for the rule Sick leave Standard SL1 and Sick Leave SL2, reason as the HRBP or the supervisor can add a relief in the absence of the staff.

[2017-12-12 15:02] #157 closed

[2017-12-12 15:14] kevmza commented on #156
Patch created, will patch to UAT for test.

[2017-12-13 08:09] kiranramnath commented on #71
@Mandiklopper please test again, a script was not deployed, apologies. Also, authoring needed to be updated. The attachment will only show when the field in the name/ address is updated.

[2017-12-13 08:38] kiranramnath commented on #163
@EmmanuelEdhedhe on which environment is this happening, I tried this on UBAUAT, with A00750, and could not recreate. Is this on ESS/MSS/X3

[2017-12-13 08:45] EmmanuelEdhedhe commented on #163
Its on UBAUAT Environment both on ESS/MSS/X3

[2017-12-13 09:03] kevmza commented on #156
Emmanuel

I have hidden the TAB for you on UAT.

Please test and confirm if this ticket may be resolved.

Thanks.

[2017-12-13 09:49] EmmanuelEdhedhe commented on #156
Thanks Yes I confirm the TAB have been removed and the ticket resolved.

[2017-12-13 09:49] #156 closed

[2017-12-13 13:34] EmmanuelEdhedhe opened #164 "WF - Approved Leave FYI to GHHR and GMD"
Upon final approval for All leave type application for grades AGM and above, email notification FYI must be sent to GHHR and GMD

[2017-12-13 13:47] MartinKruger commented on #164
This ticket is a duplication of #142 .

[2017-12-13 13:47] #164 closed

[2017-12-13 13:48] MartinKruger commented on #142
Has the Change Request been approved by the client? If so, please attach the scanned copy to this ticket.

[2017-12-13 13:50] EmmanuelEdhedhe commented on #164
My Bad

[2017-12-13 13:51] MartinKruger commented on #164
No prob. Just trying to keep it simple.

[2017-12-13 13:51] EmmanuelEdhedhe commented on #142
UBA have signoff its currently with SAGE (Willem).

[2017-12-13 15:33] MartinKruger commented on #116
Your pay might be impacted as follows:
If you have been employed more than ten years, the first six months will be with full pay, the next six months with half pay and thereafter with no pay.
If you have been employed more than five years, the first five months will be with full pay, the next five months with half pay and thereafter with no pay.
If you have been employed more than two years, the f

[2017-12-13 15:34] MartinKruger commented on #116
For Leave of Absence, use the following:

You will receive no pay for the duration of this transaction.

[2017-12-13 15:48] Adebukola opened #165 "Change to Exit Workflow"
Once employee logs exit request via self service, Exit Management team (Taiwo.ikuejurojo and Samvic.akinyemi) should get notification of exit request.  The current flow which is what is defined in the BRD is that HRBPs first get notification, and after completing exit interview, the supervisor gets notice and fills his comments before the Exit Management team is notified.  We would like Exit Manag

[2017-12-13 18:45] roberteta commented on #87
@Mandiklopper You dont seem to understand what gave rise to this transaction and why reassignment was used. I fully understand the staff movement reassignment, but this was not meant to be a reassignment but an action to correct an anomaly.

[2017-12-13 18:49] #121 closed

[2017-12-13 18:52] #122 closed

[2017-12-13 18:57] #96 closed

[2017-12-13 19:04] roberteta commented on #42
@ Mandi, I am just getting to review this after 6 days and noticed that this could have been progressed if you had simply sent Bukky the CR document directly rather than flagging it here for me to assist. You have the CR document surely....

[2017-12-14 07:52] MartinKruger opened #166 "Creation of class(es) & representation(s) (D001 & D002)"

[2017-12-14 07:53] MartinKruger opened #167 "Addition of Attachments (D004)"

[2017-12-14 07:53] MartinKruger opened #168 "Approvals/Rejections functionality & workflow (D005)"

[2017-12-14 07:54] MartinKruger opened #169 "Table, class(es), representation(s) addition for Appointments/follow on visits (D007)"

[2017-12-14 07:54] MartinKruger opened #170 "Screen addition for Appointments/follow on visits (D007)"

[2017-12-14 07:56] Mandiklopper commented on #72
@MartinKruger still get this error when try and create the job requisition:

X3 engine error: REFNUM : Variable Non-existent
X3 engine error: REFNUM : Variable Non-existent fc-sage-mproc.ubagroup.com@PAIE.TRT/SKL_CSTD_EVT$adx(344) : fc-sage-mproc.ubagroup.com@PAIE.TRT/SKL_CSTD_EVT$adx(202):SKL_CSTD_EVT.NUMERO fc-sage-mproc.ubagroup.com@PAIE.TRT/SKL_CSTD_EVT$adx(58):SKL_CSTD_EVT.AINSERT_CONTROL_BEF

[2017-12-14 07:58] Mandiklopper commented on #72
Feedback regarding integration from X3 to Skillsmap:
Maneil will send the strings to Paul today 14 December to complete the issue of the integration.  This will be completed by Paul and then tested by Maneil who will give the go ahead.  No changes need to be made on X3 only on Skillsmap.

[2017-12-14 07:59] kevmza commented on #126
Hi there, I've added it as requested. Can be reviewed on 10.16.109.50.

Patch created to be patched to UAT and TEST.

[2017-12-14 08:03] Mandiklopper commented on #113
@jwvjaar please look into this or has this been sorted?

[2017-12-14 08:10] jwvjaar commented on #113
Same as #158.

[2017-12-14 08:10] #113 closed

[2017-12-14 08:12] Mandiklopper commented on #165
@Adebukola shared the Change request on Wed 2017/12/13 6:21 PM.  This will be reviewed by @MartinKruger to determine when this can be completed.

[2017-12-14 08:17] Mandiklopper commented on #126
@kevmza I had a look on 10.16.  Looks perfect but it seems like some info not showing listed in the request.  The comments of the HRBP and Supervisor also needs to show.  @MartinKruger please advise after our discussion.

[2017-12-14 08:24] kevmza commented on #126
Hi Mandi,

Supervisor comment should be showing:

![image](https://user-images.githubusercontent.com/34372329/33982344-d4cc4582-e0b8-11e7-936e-9f99a94d1827.png)

Will follow up re the HRBP comment and discuss with Martin to confirm.

Regards,

[2017-12-14 08:43] Mandiklopper commented on #126
@kevmza this is what I see as attached.
![exitreqview](https://user-images.githubusercontent.com/33479066/33983129-a7b8fe0c-e0bb-11e7-9dc0-fa66ef98cf1c.PNG)

[2017-12-14 08:47] kevmza commented on #126
Hi Mandi,

Yes, it means there is no exit request data for that contract.

Look at another employee, 201705555 and 201705008 has content on NGADEV2

It hides the fields when empty.

I can disable the hiding?

Regards,

From: Mandiklopper [mailto:notifications@github.com]
Sent: 14 December 2017 10:44 AM
To: Mandiklopper/People-Connect <People-Connect@noreply.github.com>
Cc: Meyer, Kevin <Kevin.Meye

[2017-12-14 09:11] Mandiklopper commented on #126
Ok perfect thanks.  The comments on the interview is the comments for the HRBP, so it seems like the supervisor comments then needs to be added.

No its fine, don't think you have to hide it

[2017-12-14 09:15] EmmanuelEdhedhe opened #171 "Leave application restriction Rule Maternity & Annual"
Where an employee has applied for and taken maternity leave earlier in the calendar year, the portal should not grant such an employee access to apply for annual leave

[2017-12-14 09:18] EmmanuelEdhedhe opened #172 "Leave Plan Annual & Maternity"
•Leave Plan
Annual & Maternity Leave plan. On both leave application system should reference the leave plans already submitted for selection and automatically update the start and End dates on the application

The fields Estimated Delivery and Attachment are not required for Annual Leave   Plan.  Please remove

[2017-12-14 09:20] kevmza commented on #126
Hi Mandi,

I’ve removed the hiding.

Supervisor Comments should also be showing in the “Exit Request – Supervisor” block just below “Exit Request - Interview” Block.

Please have a look on NGADEV2 and If you are happy I will patch out.

Kind regards,

From: Mandiklopper [mailto:notifications@github.com]
Sent: 14 December 2017 11:12 AM
To: Mandiklopper/People-Connect <People-Connect@noreply.github.

[2017-12-14 09:23] EmmanuelEdhedhe opened #173 "Maternity Leave Days Flag on Application"
-Where a staff has taken annual leave and wants to take maternity leave in the same calendar year;
o   The system should be able to ascertain that this same staff has taken annual leave earlier in the year and flag the number of days involved.

o    The staff applying for maternity leave should be given the option to select how the shortfall in maternity leave due to annual leave is taken earlier

[2017-12-14 09:39] Mandiklopper commented on #162
@kiranramnath please pause with this request.  Will first get feedback from UBA.

[2017-12-14 10:44] jwvjaar opened #174 "Approval on behalf of GMD for staff movement"
Create window, function, and workflow for approval on behalf of GMD for staff movements. Access should be added to the function for only specific users (to be specified).

[2017-12-14 10:53] MartinKruger commented on #171
Please complete the change request document to get this process started.

[2017-12-14 10:58] kiranramnath commented on #171
@EmmanuelEdhedhe This should be managed with balance control configuration, as previously discussed. Once maternity leave is taken, we should/are setting the annual balance to 0. So if you enable balance control on the annual leave nature of event, the employee will not be allowed to take any further annual leave. @NicSmit and @Haylz0617 please jump  in if I am wrong.

[2017-12-14 11:00] kiranramnath commented on #173
@EmmanuelEdhedhe This is done and @NicSmit is busy with finalizing and testing this on UAT.

[2017-12-14 11:13] kiranramnath commented on #105
@Mandiklopper and @MartinKruger  there seems to be a background error being thrown (not getting to the front end). In the standard code, there is validation on ESS that checks if the employees bank account is used on someone else (i.e. on another employee). I think the error is throwing in the background as we have hidden banking details on ESS. Please can we find out if employees have unique bank

[2017-12-14 11:21] jwvjaar opened #175 "Populate and maintain Supervisor list values"
Write update functions for Functional supervisor, Department Head, Director and HR manager to all employee contracts linked Sites, Positions and Redeployment

[2017-12-14 11:22] jwvjaar opened #176 "Update Functional supervisor for subordinates"
Update Functional supervisor for subordinates on final approval of staff movement

[2017-12-14 11:33] MartinKruger commented on #171
@EmmanuelEdhedhe , this is leave config and does not require Functional Dev assistance.
i.e. if the YTD for Maternity Lve is >0, don't allow Annual Lve.

[2017-12-14 11:43] kiranramnath commented on #105
@Mandiklopper , @MartinKruger there are currently 460 employees on PREPROD with the dummy account numbers 1111111111. @MartinKruger  I will skype you the query I  used  to get the duplicate account numbers. The exec has this dummy account.

[2017-12-14 15:11] chidiif opened #177 "ACCESS/Change User Login - A23405"
User is unable to login since AD username changed following a change of name request. Kindly assist.

[2017-12-14 15:12] chidiif commented on #177
Resolved.

[2017-12-14 15:12] #177 closed

[2017-12-14 17:44] roberteta opened #178 "INCOMPLETE UPDATE OF ESS PROFILE FOR APPROVED ESS REQUEST"
ESS request for staff A14106 to add his son born on 20/10/2017 has been approved by the supervisor and HRBP but it did not update the system correctly;

•	HMO Dependent: Yes
•	Hospital 1 selected: Fereprod Medical Center

The HMO dependent flag was not ticked on the system and the hospital field is blank.

Note however that the email notification from WF monitor shows Hospital 1 (Employee): Ferepr

[2017-12-14 17:53] #94 closed

[2017-12-14 18:00] #101 closed

[2017-12-14 19:33] roberteta commented on #99
@Mandiklopper , this has not been resolved. The HRBP Team Lead & Staff got the same notification 3 times for Relief Assignment. See sequence /workflow numbers
1700013998 /1700009007
1700013400 /1700009009
1300014010 /1700009019

[2017-12-14 19:35] #82 closed

[2017-12-14 19:39] #98 closed

[2017-12-14 19:41] #69 closed

[2017-12-14 19:52] roberteta commented on #63
@ Mandi,
I dont understand why this is a change request. According to me it is a system gap just the same way that the system allows the addition of the dependant with the same details multiple times via ESS and sends multiple workflows to the supervisor for approval

[2017-12-15 19:07] roberteta opened #179 "Positions available for Staff movement - Single vs. Bulk Processing"
For the same staff movement, the positions in the drop down when using single processing is not the same as when using bulk processing.

For a sample Relief Assignment Staff movement for A08414 with details for State / Directorate / Division / Dept / Branch as follows-  TA1/DR013/DV039/BR363, the positions are as shown below for each method;

Single Processing (4 positions available)
1. J001201900

[2017-12-18 15:49] jwvjaar opened #180 "Resignation Letter should be made mandatory when logging exit request on the ESS application."

[2017-12-18 15:50] jwvjaar commented on #179
Filter has been fixed

[2017-12-18 15:50] #179 closed

[2017-12-19 09:43] #60 closed

[2017-12-19 10:34] MartinKruger commented on #153
once new case was created with attachment and then approved in disciplinary case, attachment was not carried over to disciplinary screen.
( testing case 81)

[2017-12-19 10:47] MartinKruger commented on #37
created new disciplinary case, then approved the case. the position and position title was then populated in the disciplinary screen.
(testing case 82)
lindalee

[2017-12-19 11:09] chidiif opened #181 "ACCESS/Change of Login - A16393 & A24099"
Change login for users who did a change of name.

[2017-12-19 11:09] chidiif commented on #181
Done

[2017-12-19 11:09] #181 closed

[2017-12-19 11:32] roberteta opened #182 "Access to Exit Interview Tab for Exit Request Processing"
Current:

Only HRBP Team Leads have access to modify exit requests on the Exit Interview tab and to 'Process' or 'Withdraw' the exit request. HRBP Team members only have viewing rights

Proposed:

HRBP Team Members should have the same rights as the HRBP Team Leads i.e. modify rights on the Exit Intervie tab only to enable update to Date, Interview Status and Comments and to 'Process' or 'Withdraw

[2017-12-19 11:57] chidiif commented on #182
HRBP Team Member profile have been updated to allow modification of Date, Interview Status and Comments fields. @roberteta Kindly advise users to test and revert.

[2017-12-19 12:44] MartinKruger commented on #163
application for leave was created on X3, an employee  was chosen  and was allowed to type in the employee ID of any employee but couldn't leave the collumn without selecting the employee ID of a valid relief out of 2 options. (NGA DEV)
in ESS , an  application for leave was created, but when selecting an option for relief there were more than just 2 options. (NGA DEV)
in X3  for creating a leave r

[2017-12-19 13:56] roberteta commented on #182
HRBP Team Members now have the same rights as the HRBP Team Leads i.e. modify rights on the Exit Interview tab

[2017-12-19 13:56] #182 closed

[2017-12-19 14:00] roberteta commented on #90
Issue remains unresolved.

See feedback from a HRBP Team Lead (A00526);
'I have tried verification from ‘awaiting my action’ section but it was not successful; i.e., entries were only available for viewing.

I still had to go to back to the awaiting HR action to treat them'

Please look into this further.

[2017-12-19 22:27] MartinKruger commented on #153
We tested with the wrong paperclip icon (used the standard one  and not the custom one).

The custom one did work as expected.

We can't open the attachments when the screen is GRIZO'd.  Please do not GRIZO the paperclip with the other fields. It is ok if they can add attachments after acceptance.

[2017-12-20 06:54] stevencsgh commented on #153
Martin,

That is great, I will make that change to the paperclip is available after approval.

Steven.

________________________________
From: Martin Kruger <notifications@github.com>
Sent: 20 December 2017 12:27:02 AM
To: Mandiklopper/People-Connect
Cc: Cahn, Steven; Assign
Subject: Re: [Mandiklopper/People-Connect] Disciplinary Attachments (#153)

We tested with the wrong paperclip icon (used th

[2017-12-20 07:03] stevencsgh commented on #153
Martin,

The paperclip is now accessible on the screen after "approval" .

Steven.

________________________________
From: Martin Kruger <notifications@github.com>
Sent: 20 December 2017 12:27 AM
To: Mandiklopper/People-Connect
Cc: Cahn, Steven; Assign
Subject: Re: [Mandiklopper/People-Connect] Disciplinary Attachments (#153)

We tested with the wrong paperclip icon (used the standard one and not

[2017-12-20 12:12] roberteta opened #183 "ARRIVAL SCREEN ERROR MESSAGE"
Attempt by a HRBP Team member to create a new employee on the employee arrival screen is coming up with the X3 Application Error : Error on counter ENT.

Please urgently look into this as this new employee needs to be created on the system prior to his resumption date.

[2017-12-20 13:47] EmmanuelEdhedhe opened #184 "Annual Leave Plan"
**Annual Leave**
I.	Annual Leave plan should not be more than the staff entitlement number of days as per grade
II.	At the point of planning the employee must enter plan to the sum total of his entitlement
Consider Maternity leave also Max 60 days
III.	Delete or modify the plan if there are changes to already approved plan and add a line, to sum up  the total number of days of entitlement
IV.	On a

[2017-12-20 13:54] EmmanuelEdhedhe opened #185 "Maternity Leave"
**Maternity Leave**

1. Multiple attachments required e.g. Handover note, EDD certificate ( Maximum of 3 attachments for all leave types)

2. The employee must take maximum 60 days. Cannot take or apply for less.

[2017-12-20 13:59] EmmanuelEdhedhe opened #186 "Annual Leave application Spill to Next Year"
Employee can apply for leave across years 2017 – 2018 but must only be one week into the new year e.g. Only the first week in 2018  28/12/2017 to 05/01/2018

*             Staff Annual leave cannot extend beyond the first week of the next financial year
Only applicable to Annual Leave

Users   should be able to apply for leave into the next financial   year i.e. 1st week in January

[2017-12-20 14:06] EmmanuelEdhedhe opened #187 "Leave Type View"
• Employees should only be able to view and apply for the leave type that is applicable to them via ESS. (Req 004 BRD)

Although the employee may be able to see the relevant leave types, an error is thrown when they select as invalid/ Nature of event not compatible.
The client doesn't want them to see the leave types on their drop-down list

Paternity   leave should not be seen as an option for a

[2017-12-20 14:10] EmmanuelEdhedhe opened #188 "WF- Staff Copy on all Approval"
Employee should be CC’ed on all workflow notification that goes out to each stakeholder for approval so he can know the stage/level/position of his/her request

Example Once the Supervisor receives the notification, the Employee will be copied in the supervisor email and same when it gets to the 2nd supervisor up to  the final approval

Notification   emails should be sent to the initiator at ever

[2017-12-20 14:13] EmmanuelEdhedhe opened #189 "Backdate Sick Leave"
Backdated sick leave request should be allowed and made available on the system.

This should be applicable to only sick leave

[2017-12-20 14:14] EmmanuelEdhedhe opened #190 "Sick Leave 1 & 2 - Remove relief Field"
Sick Leave SL1 & SL2 – Remove the relief field for both sick leaves

If Relief is unticked on nature of event – Hide on ESS, greyed out on entry of absence

MSS->Field   validation
On MSS   screen, Reason field should not be available for manager to populate as HRBP   handles this during approval for both    Sick and extended sick leave

On MSS   screen, Relief field should not be mandatory for ma

[2017-12-20 14:25] EmmanuelEdhedhe opened #191 "Course of Study Attachment"
**Course of Study**
II.	The attached document should be part of the email notification sent to the approval (same logic or format as dependant attachment) in other for the approver to view and make a decision

[2017-12-20 14:27] EmmanuelEdhedhe opened #192 "Number of Directorate heads on leave"
**Change request**
Only three Directorate Heads can be on leave at the same time

[2017-12-20 14:28] EmmanuelEdhedhe opened #193 "Leave Request Rule"
You cannot request for any leave type more than 1 month before the commencement/start date

[2017-12-20 14:31] EmmanuelEdhedhe opened #194 "Public Holiday Declared While on approved leave"
* When a holiday has been indicated on the system, the number of days of the holiday is refunded/added as unused leave to staff who have commenced on annual leave within the period of the holiday while the number of days is added to the days requested for all leave requested that fall within the holiday period after the holiday was added AND also on requests already initiated that are yet to comme

[2017-12-20 14:32] EmmanuelEdhedhe opened #195 "Annual Leave Rule"
Staff annual leave cannot extend beyond the first week of the next/following financial year

[2017-12-20 17:00] Adebukola commented on #75
Please find attached change request in support of this issue
[SAGE X3 People_UBA_Change Request_Template_Dec 20_Guarantor form.docx](https://github.com/Mandiklopper/People-Connect/files/1576388/SAGE.X3.People_UBA_Change.Request_Template_Dec.20_Guarantor.form.docx)

[2017-12-20 17:05] Adebukola commented on #42
Please find attached Change Request document for this
[SAGE X3 People_UBA_Change Request_Template_Dec 20_Vendor Management.docx](https://github.com/Mandiklopper/People-Connect/files/1576399/SAGE.X3.People_UBA_Change.Request_Template_Dec.20_Vendor.Management.docx)

[2017-12-20 19:02] chidiif commented on #182
@MartinKruger, Kindly assist to look at this case. My assessment is that it will require some development.

[2017-12-20 19:03] chidiif commented on #83
@MartinKruger, Kindly assist to look at this case. My assessment is that it will require some development

[2017-12-20 23:19] roberteta opened #196 "X3 Application Error on Single Processing of Staff Movement"
HRBP Team Lead A00526 gets the error message below on attempt to approve a Redeployment staff movement for A21208

 X3 Application Error
Table: YMOVECTR [YMOV]
Key: A21208 A21208NG001 01/01/2018 12001 12001
Obsolete Record
Transaction Stopped

Please investigate and resolve

[2017-12-20 23:25] roberteta opened #197 "BULK PROCESSING OF STAFF MOVEMENT"
The issues are as follows;

•	Bulk staff movements initiated by HRBP team members are not available for bulk approval via MSS > Staff movement approval screen similar to that for GHHR and GMD. This was meant to be available based on feedback from you to Martha & I during one of your previous trips to Lagos.
•	No notification was sent out to HRBP team lead A00526  on staff movement loaded as bulk
•

[2017-12-20 23:27] roberteta opened #198 "ERROR ON EMPLOYEE ARRIVAL SCREEN"
Attempt to create a new employee on the employee arrival screen is coming up with the X3 Application Error : Error on counter ENT.

Please urgently look into this as this new employee needs to be created on the system prior to his resumption date

[2017-12-20 23:34] roberteta commented on #198
Upon conversion, contract staff with CE employee ID are promoted and their employee ID changed manually from CEXXXX to AXXXX.. Feedback from Mandi and the previous experience was that the  manually assigned numbers are taken into consideration by the system in auto generating and assigning ID to new employes creted via the Staff Arrival screen. See the examples below. The HRIS administrator did no

[2017-12-20 23:35] roberteta commented on #198
What is required is for the system to take into consideration the last used employee ID (whether assigned automatically by system or manually assigned) in assigning the next employee ID so the next sequence number does not have to be updated manually. In the interim, the HRIS Administrator (Bola) may need access and taken through how to maintain the next sequence number after each manual assignmen

[2017-12-20 23:36] roberteta commented on #198
Please set the next sequence number as A24282 to enable the creation of new employees via the employeearrival screen

[2017-12-21 06:12] EmmanuelEdhedhe opened #199 "Date range"
The system should not allow the user to backdate the start and end date for all leave requests apart from sick leave.

[2017-12-21 06:20] EmmanuelEdhedhe opened #200 "Course - Date range"
The user should not be able to select a backdated date as the start and end day for study course leave request. An   error message should be displayed

[2017-12-21 13:15] EmmanuelEdhedhe opened #201 "Nomenclature"
On the   "My leave plan" screen, the heading "Approved reliefs"   should be renamed to "Relief" i.e.    when user yet to select relief    this is misleading to the users

[2017-12-21 13:17] EmmanuelEdhedhe opened #202 "Validation message"
1. Change   "Insertion impossible in the YRELIEF collection of the C_YRELIEF   class" error message to "Maximum of 2 relief staff can be   selected"
--

2. The error message displayed on the screen when the user keys in invalid characters in the box fields on the "Employee courses" is unclear.   Please change validation message to reflect the actual error i.e invalid   characters
--

[2017-12-21 13:30] EmmanuelEdhedhe opened #203 "Employee Course - Date range"
The user should not be able to select a backdated date as the start and end day for study course leave request. An   error message should be displayed

[2017-12-21 13:34] EmmanuelEdhedhe opened #204 "Annual Leave Error Message"
Error   message should be displayed to the User if their selected relief has planed their annual leave within the   same date range

[2017-12-21 13:36] EmmanuelEdhedhe opened #205 "ESS - Leave transaction"
User should not be able to access the  "create"  action button in the Pending Leave   Transaction Section/Grid

[2017-12-21 13:38] EmmanuelEdhedhe opened #206 "Leave Balance Request rejection"
Days   "Taken" should be reversed /returned back to the staff and the   leave balance records should be updated once request is rejected

[2017-12-22 06:24] EmmanuelEdhedhe opened #207 "Nomenclature Change"
Change RESUME ME to RESUMPTION

[2017-12-22 08:37] EmmanuelEdhedhe opened #208 "Tracking Status Error on ESS"
Already approved leave which shows taken and balances correctly but displays tracking status as Rejected on ESS and on Entry of absence screen.

[2017-12-22 09:37] EmmanuelEdhedhe opened #209 "Calendar Year Display"
The comma in the year should be removed

[2017-12-22 09:39] EmmanuelEdhedhe opened #210 "Approved Relief Block on ESS"
If  relief is approved, the relief name should show under Approved Reliefs under   My Leave Plan

[2017-12-22 09:41] jwvjaar commented on #197
The MSS functionality has been added to PREPROD.

Awaiting feedback from Martha for WF notification wording

[2017-12-22 09:41] jwvjaar commented on #183
Next sequence has been set.

[2017-12-22 09:41] #183 closed

[2017-12-22 09:44] jwvjaar commented on #198
The next sequence number has been set. We are able to set the next sequence number by looking at the last employee number used, however there are currently sequence numbers > A30000, this will leave a gap of +-5700 sequence numbers.

[2017-12-22 09:44] #198 closed

[2017-12-22 09:45] EmmanuelEdhedhe opened #211 "Unauthorized Absence"
Future   date should not be acceptable

Relief   Selection - This should not be mandatory since its Manager or Leave Admin   that will be logging this

Attachment   - This should not be mandatory

[2017-12-22 09:50] jwvjaar commented on #188
Change request must be completed

[2017-12-22 10:00] EmmanuelEdhedhe commented on #188
Sent to the client

[2017-12-22 10:08] jwvjaar commented on #207
Please be more specific to where this wording needs to be changed.

[2017-12-22 10:21] jwvjaar commented on #206
WF Fixed, no longer allocating days before final approval.

[2017-12-22 10:21] #206 closed

[2017-12-22 11:34] jwvjaar commented on #208
Problem fixed

[2017-12-22 11:34] #208 closed

[2017-12-22 11:41] EmmanuelEdhedhe commented on #207
On ESS the Home TAB

[2017-12-27 16:47] bldre03 opened #212 "Unable to Update and Create Func Hierarchical for positions."
Dear Mandy,

Kindly assist to check the iniability to Update and Create Func Hierarchical for positions.

Please see error message below.

[F:YCTR] : Class Non-exstent.

Best Regards,

[2018-01-02 08:00] kevmza commented on #207
This has been completed.

[2018-01-02 11:57] jwvjaar commented on #205
DEMCONGEESS - ACREATE link on Page set to Inactive.

[2018-01-04 06:55] kevmza commented on #124
Looks like all of them are dependent on their payslip

Leave by employee is linked to table CNGEMP

CNGEMP table is updated from the payslip calculation so that it shows the current balance of the employee.

The others look at the payslip at a point in time i.e. the payslip information for leave.

[2018-01-08 07:52] EmmanuelEdhedhe commented on #142
The change request document has been signed off. Rule on Github no document should be upload here. The signed copy is sent via email and @MartinKruger you were in copy and you are yet to append your signature.

[2018-01-08 08:22] jwvjaar commented on #212
Please provide me with position details, as I have tried to replicate the issue, but the changes were saved without any problems.

[2018-01-08 08:54] jwvjaar commented on #196
There is one transaction that has been cancelled and another that is awaiting GHHR approval. And A00526 is displayed as a previous approver.

[2018-01-08 08:54] #196 closed

[2018-01-08 09:06] Mandiklopper commented on #158
@chidiif please look into this and check if this is perhaps an access issue

[2018-01-08 09:14] chidiif commented on #158
No access codes were applied to these Employees so it is pretty difficult to say what the problem is. JW was taking a look at it, do you know if he found anything?

[2018-01-08 10:03] Mandiklopper commented on #158
@carldek please look into this.  Please correct +- 70 cases where employees services (category) shows 001 instead of 1 as example.  This is causing issues with relief assignments

[2018-01-08 10:56] Mandiklopper commented on #162
Detail from Quinton:

Hi Mandi,

Just an update on the UBA ID field in the report.
It is not Avon Reference number as I thought before.
It is a unique number allocated to each member on HMO.

All the Principal Members start wit PR, all the Spouse numbers start with SR and the Children with CHD and then it’s a numerical field. (sequential to the employee)
Ex for 2 Child dependants for the same empl

[2018-01-08 11:25] Mandiklopper opened #213 "CR: Disciplinary changes - Left Panel"
The left panel should be divided into sections based on status of case – Requested, Under Investigation, Investigation Completed Outcome Pending, Concluded.  This is because many cases will be on the system, sometimes many cases per staff and it will be time-wasting for WE team to identify which cases have not been concluded for them to work on.

Refer to CR shared Wed 2017/12/06 1:00 PM

[2018-01-08 11:29] Mandiklopper opened #214 "CR: Regocnition"
Work Ethics team needs to be able to issue Recognition.  The workflow for recognition is the same as commendation.

Refer to CR shared Wed 2017/12/06 1:00 PM

[2018-01-09 07:59] carldek commented on #158
Imported 80 Employees correct "Job Category" code

[2018-01-09 08:23] chidiif opened #215 "ACCESS/Change Login for Employee A07607"
Hello,

Employee did a change of name, kindly change Login for Employee - A07607.

[2018-01-09 08:24] chidiif commented on #215
Login change has been effected for user.

[2018-01-09 08:24] #215 closed

[2018-01-09 09:10] chidiif opened #216 "ACCESS/Change Login for A06912 and P0115"
Hello,

Employees A06912 and P0115 did a change of name and now require their login to be changed.

[2018-01-09 09:11] chidiif commented on #216
Login change effected for A06912. Employee ID P0115 not found on the system. Kindly confirm ID is valid.

[2018-01-09 09:11] #216 closed

[2018-01-09 09:14] chidiif opened #217 "ACCESS/Onboarding for Employees A24282-24290"
Grant the following employees ESS access - A24282, A24283, A24284, A24285, A24286, A24287, A24288, A24289, A24290.

[2018-01-09 09:14] chidiif commented on #217
Users have been setup.

[2018-01-09 09:14] #217 closed

[2018-01-09 09:18] chidiif opened #218 "ACCESS/HRBPS do not have access to Exit Request"
Hello Chidi,

It was just brought to my notice that HRBP team members no longer have Exit Request link in the navigation screen.  Kindly help investigate.  Can we also know why this disappeared and what can be done to prevent it in the future.

Thanks

Regards
Adebukola Imoyo

[2018-01-09 09:19] chidiif commented on #218
Hello Bukky,
The link has been restored to their navigation page. Apparently, I had taken it out in error when updating access to Exit Requests for some roles yesterday.

[2018-01-09 09:19] #218 closed

[2018-01-09 09:22] chidiif opened #219 "ACCESS/Change Employee ID mapped to User"
Kindly assist to review the staff’s profile further.
Old Empl ID - CE00877
New Empl ID - A24056
The new empl ID has been mapped to her profile on Employment contracts and Employees, but her login details on ESS has the old Empl ID with no data populated .

Regards,
Oyebola Owoseni

[2018-01-09 09:22] chidiif commented on #219
The new Employee ID has now been linked to the user profile.

[2018-01-09 09:23] #219 closed

[2018-01-09 09:26] chidiif opened #220 "ACCESS/Multiple Users linked to the same Employee ID"
Hi Robert/Chidi,

I found the following duplicate employees linked to different users. A quick investigation shows that 2 of them are the same Employee, with different user names and the other one I am unsure off. Please help to identify the correct user account and I suggest if there are duplicate user we delete one to prevent later confusion.
REFNUM              USER
----------------------------

[2018-01-09 09:28] chidiif commented on #220
I have reviewed the three Employees with duplicate Endpoint user records,

1. A23642 – Her previous login has been retired and she can login with the new one now.
2. A23784 - One endpoint user record has been deleted.
3. A11592 – One user record is now inactive.

[2018-01-09 09:29] #220 closed

[2018-01-09 09:32] chidiif opened #221 "ACCESS/HRBP Unable to view Single/Bulk Processing Screen"
Dear Chidi,

Kindly assist to review the HRBP’s profile below.

Empl ID - A21537
Position Code - J0175099900028

Staff Movement – Single processing and Bulk processing are missing on her profile.
Regards,
Owoseni Oyebola

[2018-01-09 09:34] chidiif commented on #221
Hi Chidi,

A21537 is a HRBP team Lead, but her profile seems different as she does not have Staff Movement which is the core of what HRBPs do.

Compare her profile with that of Mike Olawale to identify what is required for her.

Please investigate and correct urgently.

Regards,
Robert Eta

[2018-01-09 09:34] chidiif commented on #221
Hello Bola,

I have looked at the HRBP Team Lead Functional Profile and it looks good – Full Access to both Functions.

My suspicion is that she might be using the incorrect Endpoint/role.

Kindly advise her to check that she is connected to the right Endpoint and Role

[2018-01-09 09:34] #221 closed

[2018-01-09 09:38] chidiif opened #222 "ACCESS/HRBP Unable to connect to PREPROD"
Good morning Chidi,

Happy New Year!

Kindly assist to review the HRBP’s profile below. The only endpoint on her profile is X3PEOPLE/UBAUAT.

Empl ID - A21560

Regards,

[2018-01-09 09:39] chidiif commented on #222
Hello Bola,

Kindly advise her to first change the role to UBA-HR Business Partner before changing  her endpoint.

[2018-01-09 09:39] #222 closed

[2018-01-09 09:41] chidiif opened #223 "ACCESS/Change Employee ID linked to User"
Kindly assist to review the staff’s profile further.

Old Empl ID - CE00982
New Empl ID - A24268

The new empl ID has been mapped to his profile on Employment contracts and Employees, but it has not been linked to his ESS profile

[2018-01-09 09:42] chidiif commented on #223
Hello Bola,

Employee ID for user have been changed.

[2018-01-09 09:42] #223 closed

[2018-01-09 09:44] chidiif opened #224 "ACCESS/ Change of Login for A23100"
Kindly assist to update user’s logon on PeopleConnect.

Empl ID - A23100

[2018-01-09 09:45] chidiif commented on #224
Hello Bola,

User login has been updated.

[2018-01-09 09:45] #224 closed

[2018-01-09 09:47] chidiif opened #225 "ACCESS/Change User Login - A12289"
Kindly assist to update user’s logon on PeopleConnect.
Empl  ID: A12289

[2018-01-09 09:47] chidiif commented on #225
User login has been changed.

[2018-01-09 09:47] #225 closed

[2018-01-09 09:49] chidiif opened #226 "ACCESS/Onboarding for New Hire - A24291"
Kindly see details of 1 new hire below to enabled for ESS access on peopleconnect.
STAFF ID
A24291

[2018-01-09 09:50] chidiif commented on #226
Hello Bola,

Please another thing, Oluyemi Jeje’s employee record has not been created.

I have setup his login but he will be unable to see his personal details until the Employee ID is linked to his user record.

Kindly assist to follow up on the onboarding process.

[2018-01-09 09:52] chidiif opened #227 "ACCESS/Change Employee ID on User Record"
Dear Chidi,

Kindly assist to update staff details on ESS.

Old ID - CE01046
New ID - A24267

[2018-01-09 09:54] chidiif commented on #227
User Employee ID has been changed.

[2018-01-09 09:54] #227 closed

[2018-01-09 09:56] chidiif opened #228 "ACCESS/User Unable to Log into People Connect - A23527"
User is unable to log into People Connect. Kindly review user record

[2018-01-09 09:57] chidiif commented on #228
Use had 2 active global user records. One has been deleted.

[2018-01-09 09:57] #228 closed

[2018-01-09 15:41] kevmza commented on #209
Space has been removed. Will have to test first and need to discuss with Martin the changes made as locale had to be changed. Might need to create a copy of the locale as it will probably be overwritten when patching.

Will revert soonest.

Thanks.

[2018-01-10 06:24] EmmanuelEdhedhe commented on #209
Thanks Kevin.

The workaround I did was to change the locale to UK English and the comma wasn't there but instead there was a space which is manageable but however, it means all user profile should be defaulted to UK English. Just an FYI.

[2018-01-10 06:27] kevmza commented on #209
Thanks for the response.

I have changed the default one to a space separator for en-US this will however probably be overwritten when patching and changed back to comma.

I've in the interim also created a custom locale called UBA_en-US just need to talk to Martin to get the go ahead and we can change the default to that globally.

Regards,

[2018-01-10 08:06] jwvjaar opened #229 "Web Service for UBA Mobile API"

[2018-01-10 12:47] #207 closed

[2018-01-10 16:36] #158 closed

[2018-01-10 16:58] #40 closed

[2018-01-10 17:01] #100 closed

[2018-01-10 17:11] #21 closed

[2018-01-10 17:12] #80 closed

[2018-01-10 17:14] #86 closed

[2018-01-10 17:15] #36 closed

[2018-01-10 17:15] #62 closed

[2018-01-11 07:58] P1errevanZyl commented on #154
Changed last sentence to match Indefinite Suspension

[2018-01-11 10:39] kevmza commented on #209
Please test on 10.16

**Leave Plan**

Changes made:

Screens: YLVPLN0
Created TCH_YCALYR as Alphanumeric type.

Classes: YLVPLNH and YLVPLN
Created TCH_YCALYR Alphanumeric type.

Representations: YLVPLN
Created TCH_YCALYR with Property YLVPLNH.TCH_YCALYR visible on edit, detail and query facet.

Set CALYR to invisible on edit, detail and query facet

Added in **YLVPLNH_CSPE**

**lines 28-32**($PRO

[2018-01-11 13:11] Mandiklopper opened #230 "CR: Staff movement approval GMD"
Current Condition:
The current approval process for the GMD on Staff Movements is not followed as developed.  The GMD currently sends the approval by email to the GHHR and the SAGE Consultants needs to manually approve on the system.

Proposed Changes:
Develop a window where a proxy can approve on behalf of the GMD.

Change request emailed to @roberteta to sign off.

[2018-01-11 13:40] Mandiklopper opened #231 "CR: Deletion of Staff Movement"
Current Condition:
Staff movement transactions can only be cancelled before implementation.

Proposed Changes:
Cancelation option should include deletion of already created contracts as well as sending of notification if already implemented.

Change request sent to @roberteta

[2018-01-12 07:37] jwvjaar commented on #174
Same as ticket #240

[2018-01-12 07:37] #174 closed

[2018-01-12 07:42] jwvjaar commented on #197
WF will not be added at this point, as per email.
Sent: Wednesday, January 10, 2018 8:49 AM
Subject: RE: BULK PROCESSING

[2018-01-12 07:42] #197 closed

[2018-01-12 08:31] kiranramnath commented on #118
I spoke to Francois Laas from R&D and the functionality to modify leave is not available on ESS or MSS and was not on the cards to be on their roadmap until after March 2018. Leave can be modified by leave admin via Absence entry on X3.

[2018-01-12 08:38] kiranramnath commented on #193
Does this include extended sick leave? People going for operations in like 3 months can only apply for leave a month before procedure?

[2018-01-12 10:57] EmmanuelEdhedhe commented on #193
This I believe is only applicable to Annual Leave type.

Let wait for the CR document with details from UBA.

[2018-01-15 08:17] kevmza commented on #124
Hi Nicholas,

Please let me know if there is anything else we can assist with re this one.

Kiran confirmed that you spoke with him regarding this ticket.

Regards,

[2018-01-15 09:36] kevmza commented on #130
added Local Message: 142,6955,1  : Vendor has been included and should be removed before payment may be processed
added Local Message: 143,6955,1  : Please review the provided report to identify respective vendors

File: SPESUBFRM2
Added Line# 18-30

	If YOK = 0
      If !clalev([F:YKCTR]) : Local File EMPLOCTR [YKCTR] : Endif
     Filter [F:YKCTR] Where eomonth(PYRDAT)=eomonth(GMOIPAY) and [F:YKC

[2018-01-15 09:43] chidiif opened #232 "ACCESS/Unable to Login to People Connect"
Good morning Olusesan,

Thanks for your closure. Please note that the issue still persist. My supervisor Stephen Gadzama with e-mail Stephen.Gadzama is still unable to login to people connect portal with his details.

[2018-01-15 09:44] chidiif commented on #232
User Global user profile was not connected to the AD and user was marked inactive. Connection established and user made active.

[2018-01-15 09:44] #232 closed

[2018-01-15 09:47] chidiif opened #233 "ACCESS/Unable to Login to People Connect"
Dear Chidi,

This user - A20415 keeps getting error of ‘wrong user or password’ when she sign in to the People Connect.

[2018-01-15 09:48] chidiif commented on #233
User did not have an Endpoint User record. The user's login name is not the same as her full name. Endpoint user created and linked to Employee ID

[2018-01-15 09:48] #233 closed

[2018-01-16 08:24] kiranramnath commented on #187
The current ESS  framework does not allow us to filter the same way leave types are filtered on X3, hence R&D has stop the selction of invalid leave types by throwing an error

[2018-01-16 10:33] jwvjaar commented on #178
The table still indicated that the transaction's status was requested. After approval it got processed.

It is possible that something could have gone wrong with the initial approval. Will monitor if this problem occurs again.

[2018-01-16 10:33] #178 closed

[2018-01-16 10:47] jwvjaar commented on #230
implemented on PREPROD

Personnel administration > Staff movement > GMD staff movement approval

[2018-01-16 10:47] #230 closed

[2018-01-16 11:06] jwvjaar commented on #99
Notifications will now only be sent out from the batch task, to prevent the notification from being sent from the object as well as the batch task.

[2018-01-16 11:06] #99 closed

[2018-01-16 13:04] jwvjaar commented on #63
Implemented on PREPROD for both X3 and ESS

[2018-01-16 13:04] #63 closed

[2018-01-16 14:09] jwvjaar commented on #90
Please confirm whether the issue still persist?

[2018-01-16 16:19] chidiif opened #234 "ACCESS/GMD Unable to Login"
GMD is unable to log into People Connect.

[2018-01-16 16:19] chidiif commented on #234
Resolved

[2018-01-16 17:35] chidiif opened #235 "ACCESS/Setup of new hires - A24304-A24319, A24337"
Setup new hires on people connect.

Employee ID Range: A24304 - A24319, A23337.

[2018-01-16 17:36] chidiif commented on #235
Setup user records created. Awaiting LDAP sync to link Global and Endpoint users

[2018-01-16 17:47] chidiif opened #236 "ACCESS/No User Details on ESS"
The user A24328 does not see her details on ESS when she logs in.

[2018-01-16 17:48] chidiif commented on #236
Employee ID linked to user incorrect. Correct Employee ID updated on user profile.

[2018-01-16 17:48] #236 closed

[2018-01-17 08:04] ArmandCtz commented on #153
Test | Passed/Fail | Comment
---- | ------------ | -----------
Paperclips work the same | Fail | On Disciplinary case both paperclips work the same, on Disciplinary the paperclip on right bar opens different attachment tab.
Peperclip accessible after "approval" | Passed | Works as expected.

[2018-01-17 08:08] kiranramnath commented on #189
Done on   10.16, added tick box ("Allow backdate entry")to the nature of   event setup screen to  mark nature of   events where back dated leave is    allowed and added validation on ESS and absence entry (X3)

[2018-01-17 08:10] kiranramnath commented on #190
Emmanuel   to deactivate the relevant reasons on Sick extended

[2018-01-17 09:39] kevmza commented on #209
Removed  field TCH_YCALYR from Class YLVPLN

[2018-01-17 11:00] ArmandCtz commented on #209
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Comma in year | Passed | No more comma in the year
Negative test | Passed | Cannot enter less than 4 or more than 4 numeric characters, cannot enter normal characters, cannot enter four zero,s or an incorrect date.

[2018-01-17 11:20] ArmandCtz commented on #205
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
 User access to "create" action in the Pending Leave Transaction grid | Passed | Works as expected

[2018-01-17 11:34] EmmanuelEdhedhe commented on #190
Reasons deactivated.

However, the system still says the reason filed is mandatory and I cant proceed with the transaction.

Kindly remove the reason field

[2018-01-17 12:01] kevmza commented on #209
Patch applied to NGADEV.
Patch File Attached.

[209CalendarYearDisplay_180117.zip](https://github.com/Mandiklopper/People-Connect/files/1638826/209CalendarYearDisplay_180117.zip)

[2018-01-17 12:43] ArmandCtz commented on #141
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Delete button | Passed | Button added and works

[2018-01-17 12:48] #124 closed

[2018-01-17 12:48] ArmandCtz commented on #71
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Mandatory Attachment on change of 1. Employee Family Name and/or Employee First Name, 2. Residential addresses | Passed | Works as expected

[2018-01-17 13:45] kiranramnath commented on #187
I have addressed on NGADEV2 and will patch in with other leave items in progress

[2018-01-17 14:21] kiranramnath commented on #187
@EmmanuelEdhedhe can I close this item?

[2018-01-17 14:21] kevmza commented on #209
Added TCH_YCALYR to YLVPLNMSS class
Added TCH_YCALYR to YLVPLNMSS representation

Made invisible CALYR on QUERY and DETAIL Facet

Added:
this.YLVPLNH.TCH_YCALYR = num$(this.YLVPLNH.CALYR)
to:
 $AQUERY_TRANS_AFTER
in:
 YLVPLNMSS_RSPE (line 80)

[2018-01-17 14:21] kiranramnath commented on #190
I have update on NGADEV2 and will patch over with  other  leave defects.

[2018-01-17 14:27] kiranramnath commented on #184
@EmmanuelEdhedhe  please can you elaborate on III.

III.	Delete or modify the plan if there are changes to already approved plan and add a line, to sum up the total number of days of entitlement

[2018-01-17 14:30] kiranramnath commented on #185
@EmmanuelEdhedhe and @jwvjaar can we discuss below further.
Multiple attachments required e.g. Handover note, EDD certificate ( Maximum of 3 attachments for all leave types)
I can add the attachment on ESS, however current WF functionality only  allows one attachment per workflow.

[2018-01-17 14:39] kiranramnath commented on #195
Duplicate of ticket 186

[2018-01-17 14:41] kiranramnath commented on #199
Done on   10.16, added tick box ("Allow backdate entry")to the nature of   event setup screen to  mark nature of   events where back dated leave is    allowed and added validation on ESS and absence entry (X3)

[2018-01-17 15:20] EmmanuelEdhedhe commented on #187
Yes, you can. Once the patch is done on UBA and tested

Thanks

[2018-01-17 15:23] EmmanuelEdhedhe commented on #184
What that means is If the employee makes any adjustment/changes to his already planned leave. he must make sure that the sum total still adds up to the entitlement number of days.

[2018-01-18 08:15] jwvjaar commented on #203
Same as ticket #200.

[2018-01-18 08:15] #203 closed

[2018-01-18 08:18] jwvjaar commented on #212
Dear JW,

This has been resolved.

Best Regards,
Oyebola Owoseni
HR Information System Administrator

[2018-01-18 08:18] #212 closed

[2018-01-18 09:38] ArmandCtz commented on #126
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Supervisor comment and all information showing | Passed | All the information does show if the information is filled in or there is data to be shown, if there is no data it does not show. Checked through multiple employees, for some employees there is not enough data but with 'Kate Testington' all data is available and show

[2018-01-18 09:51] ArmandCtz commented on #74
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Correct Dates, 'Valid to' and 'Valid From' | Passed | There is correct dates and valid to and valid from
Negative testing | Failed | "Valid to" field is before "Valid from" field and dates are in wrong order and does not throw an error e.g. Valid to: 19/01/2018 Valid from: 24/01/2018, Profile was still updated after the val

[2018-01-18 09:52] kevmza commented on #213
To Patch:

Windows: OHRDS
Objects: YHRDS1,YHRDS2, YHRDS3, YHRDS4
Files:SPEHRDS

Created Objects: YHRDS1,YHRDS2,YHRDS3,YHRDS4

Window: OHRDS - Added Objects YHRDS1,YHRDS2,YHRDS3,YHRDS4

File: SPEHRDS.src - Added Lines 11

When "FILGAUCHE"  : Gosub FILGAUCHE

Added Lines  153-162

$FILGAUCHE
  Case currbox
    When "GAU_CHE" : FILGAUSUP = ""
    When "GAU_CHE1" : FILGAUSUP = ""
    When "GAU_CHE2" :

[2018-01-18 09:54] ArmandCtz commented on #201
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Approved Relief set to Relief | Passed | Everything is changed as expected

[2018-01-18 11:18] chidiif commented on #235
Completed

[2018-01-18 11:18] #235 closed

[2018-01-18 11:36] kevmza commented on #213
Patch File: SRC_YSCSA_DisciplinaryChangesLeftPanel_213_201801181202 created and applied to NGADEV.

Please test.

Thanks.

[2018-01-18 11:49] ArmandCtz commented on #213
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
The left panel divided into sections based on status of case – Requested, Under Investigation, Investigation Completed Outcome Pending, Concluded. | Passed | Panel is divided as expected.

[2018-01-18 15:55] kevmza commented on #214
Authoring:
Added Menu Items: YRECOGNI, YRECOGNI_ESS
Added to Navigation Page > Personnel Administration > Personnel Data Forms > Recognitions
Added to Customised Pages > x3.hrm.YRECOGNI.$fusion.desktop
Added to Home Page > UBAESS > Recognitions

Added:

Representations: YRECOGNI
Classes: YRECOGNI
Windows:YRECOGNI
Screens: YRECOGNI0, YRECOGNI1
Objects: YRECOGNI
Tables: YRECOGNI
SPECIFIC: SPEYRECOGN

[2018-01-19 07:41] kevmza commented on #214
Also Added Local Messages:

mess(134,6303,1)
mess(135,6303,1)
mess(136,6303,1)

Updated workflows: YRECOAPPR1, YRECOAPPRV, YRECOREQU1, YRECOREQUE

Included local messages in Patch file SRC_YSCSA_CRRECOGNITION_214_201801180939

UBA Menu will have to be extracted and imported on 10.16 before this patch can be re-applied to UBA with the correct menu items.

[2018-01-19 09:37] kevmza commented on #74
Corrected - "Valid to" field is before "Valid from" field and dates are in wrong order.
Added control DATDEBFIN on both sets.

Please test.

Thanks.

[2018-01-19 09:41] kevmza commented on #74
Created Patch: SRC_YSCSA_74_201801191141

[2018-01-19 11:15] ArmandCtz commented on #74
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Negative Testing | Passed | "Valid to" Field is after "Valid From" field and control is implimented for negative days e.g. from the 16th Jan 2017 to the 12th Jan 2017.

[2018-01-19 12:45] kevmza commented on #209
Added YLVE to patch SRC_YSCSA_209_201801191444

[2018-01-19 13:37] P1errevanZyl opened #237 "Disciplinary Changes"

[2018-01-22 07:57] kevmza opened #238 "Create dev V12 folder"

[2018-01-22 07:57] kevmza commented on #238
I've asked Davon for access or to create the folder.

[2018-01-22 08:10] kevmza commented on #238
From: Meyer, Kevin
Sent: 22 January 2018 09:56 AM
To: Du Bruyn, Davon <Davon.DuBruyn@sage.com>
Subject: V12 Development Folder

Hi Davon,

Will it be possible to create a DEV folder on the X3 People V12 instance?

Martin mentioned it is on 10.16.109.60.

If you can create my user on V12 and give me RDP access I will create the folder?

It is for a POC, Martin asked that I find out.

Thanks.

[2018-01-22 09:50] kevmza opened #239 "V12 Upgrade"

[2018-01-22 09:50] kevmza opened #240 "P9.0.5 patch to P9.0.8"

[2018-01-22 09:50] kevmza opened #241 "Backup and file server"

[2018-01-22 10:50] ArmandCtz commented on #237
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Positive Testing | Failed | In NGADEV the editable is not available, when in NGADEV2, if you edit the summary field ALL cases seem to change to the changed summary. In other words. if you change e.g. once updating the summary in the disciplinary screen it updates all cases (case 21. case 9. case 10, etc) summary box. The di

[2018-01-22 11:10] ArmandCtz opened #242 "T: Standard Job short title"
Short title clears after saving Standard Job, when reviewing, it is gone.

[2018-01-22 12:12] ArmandCtz opened #243 "T: Func Hierarchical position (Position screen)"
When you create a new position and link a 'Func Hierarchical position' to it, the error "A position cannot be hierarchically linked to its subordinate" pops up, then if you clear the field and save the position it can save. Now if you update the Func Hierarchical position with the same ID and save it, the position is locked with a Func Hierarchical position of the same subordinate. NGADEV

[2018-01-22 13:35] Mandiklopper commented on #230
Change request signed off by Robert, Martin and Abiola.

[2018-01-22 13:36] Mandiklopper commented on #231
Signed off by Robert, Abiola and Martin.

[2018-01-22 13:51] Mandiklopper commented on #90
@roberteta please advise if this issue still persist?

[2018-01-22 14:05] Mandiklopper commented on #72
@MartinKruger please give feedback regarding the error when creating job requisition.  The integration issue has now been sorted by Maneil.

[2018-01-22 15:07] P1errevanZyl commented on #237
Made Changes, please test again

[2018-01-23 06:12] kevmza commented on #238
Folder has been created.

URL: http://10.16.109.59:8124/

[2018-01-23 08:53] ArmandCtz commented on #237
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Summary Box editable and saves in both Disciplinary and Disciplinary Case | Passed | Works as expected and saves on both screens, changes all boxes with same case number.

[2018-01-23 09:23] P1errevanZyl opened #244 "Serious Medical Conditions ESS"
Refer to the Functional specifications

[2018-01-23 09:57] P1errevanZyl commented on #242
[PATCH]/P2018123115436PIVAN.dat

[2018-01-23 10:13] kevmza commented on #238
Closing folder has been created.

Kind regards,

[2018-01-23 11:55] ArmandCtz commented on #242
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Short title saves | Passed | Works as expected, saves correctly.

[2018-01-23 12:11] kevmza commented on #238
Some folder modules not present. Davon is investigating.

[2018-01-23 14:22] P1errevanZyl commented on #243
Changes was made in the Code as well as on screen POT3

I tested the following scenarios
- When a new Position is loaded you can link to any Func Hierarchical position
- You are not able to link "Position A" to "Position A"
- You are not able to link "Position A" to "Position B", if "Position B" is already linked to "Position A"

[PATCH]/P2018123155813PIVAN.dat

[2018-01-24 09:52] kevmza commented on #130
Modified SPESUBFRM2

#kemey Ticket #130
    If YOK = 2
      If !clalev([F:YKCTR]) : Local File EMPLOCTR [YKCTR] : Endif

For I = 0 To [M:FRM1]NBR-1
#     Filter [F:YKCTR] Where eomonth(PYRDAT)=eomonth(GMOIPAY) and [F:YKCTR]NATCON='CTR06'
      Filter [F:YKCTR] Where REFNUM = [M:FRM1]REFNUM(I) and CTRDAT <= eomonth(GMOIPAY) and (XITDAT > = eomonth(GMOIPAY) or XITDAT = [0/0/0]) and [F:YKCTR]NATCON=

[2018-01-24 10:32] ZanderCronje commented on #180
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Mandatory Resignation Letter  | Pass  |  When creating an exit request, an attachment is mandatory and gives an error when no file is attached

**NOTE**
1. When all mandatory fields are filled out and a file is attached, the exit request cannot be created (15 errors "TCH_CTRNUM : Mandatory Field")
2. When a file is attached

[2018-01-24 10:42] kiranramnath commented on #187
@EmmanuelEdhedhe please refer to my previous comment. We cannot develop filter at the moment as explained, prior, may I please close this ticket.

[2018-01-24 10:44] kiranramnath commented on #190
Patch name - SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

[2018-01-24 10:46] kiranramnath commented on #189
Patch - SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

[2018-01-24 10:47] kiranramnath commented on #127
This old and can be closed, @NicSmit sorted this out

[2018-01-24 10:48] kiranramnath commented on #204
Patch - SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

[2018-01-24 10:48] kiranramnath commented on #199
Patch - SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

[2018-01-24 10:48] LindaleeConradie commented on #191
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Attachment was sent with email to be reviewed | Pass | Put in request for study course. Email was received by supervisor with the document attached as expected.

[2018-01-24 10:49] kiranramnath commented on #189
X3 and ESS to be tested

[2018-01-24 10:49] kiranramnath commented on #190
X3 and ESS

[2018-01-24 10:50] kiranramnath commented on #204
X3 and ESS

[2018-01-24 10:51] kiranramnath commented on #199
X3 and ESS

[2018-01-24 11:03] LindaleeConradie commented on #200
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Date Range | Pass |  When selecting a backdated date in the request, an error message pops up to select a valid date, as expected.

[2018-01-24 11:21] kiranramnath commented on #118
@MartinKruger can we close this?

[2018-01-24 11:24] kiranramnath commented on #184
SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

ESS and X3

[2018-01-24 11:26] kiranramnath commented on #186
SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239
X3 and ESS

[2018-01-24 11:27] kiranramnath commented on #193
SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

ESS and X3

[2018-01-24 11:29] kiranramnath commented on #172
SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

X3 and ESS

[2018-01-24 11:30] kiranramnath commented on #210
SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

ESS only

[2018-01-24 11:34] kiranramnath commented on #202
SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

ESS only

[2018-01-24 11:35] kiranramnath commented on #192
SRC_YSCSA_LEAVE_190_184_185_186_193_172_210_202_192_240120181239

ESS and X3

[2018-01-24 11:49] ZanderCronje commented on #180
**Fixed**
When all mandatory fields are filled out and a file is attached, the exit request cannot be created (15 errors "TCH_CTRNUM : Mandatory Field")
(NGADEV)

[2018-01-24 11:56] ZanderCronje opened #245 "Attachments cannot be removed"
In general when an attachment is uploaded, it cannot be removed, an error message is given "Something went wrong. Please contact support".

(NGADEV)

[2018-01-24 12:23] LindaleeConradie commented on #189
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Allow backdated sick leave request | Pass | After ticking the tick box which was added and requested for backdated sick leave, it was allowed and requested. Then trying the same for backdated annual leave request it was not allowed. Therefor it worked as expected.

[2018-01-24 13:00] ArmandCtz commented on #243
Problem not resolved. When you create a new position and try to link it to a Funk Hierarchical Position, the error "A position cannot be hierarchically linked to its subordinate" is shown on screen. If you create the position without linking it to another position, it saves. If you modify the Funk Hierarchical Position after creation and save, the error does not show again and it is saved.

[2018-01-24 13:49] P1errevanZyl commented on #243
![pot3 actions](https://user-images.githubusercontent.com/34372364/35335391-c125069a-0115-11e8-9037-e1af2874c4b9.PNG)

[2018-01-24 13:55] kevmza commented on #214
Menu's imported from UBA. : Import done, 59 object(s) were created, 18322 object(s) were modified, 0 errors

[2018-01-24 14:23] ArmandCtz commented on #243
Passed, works as expected :)

[2018-01-24 14:28] janwvjaarsveld opened #246 "Default values on company screen"
Add fields to the company screen to determine default parameters:

- GHHR directorate
- HRIS administrator position
- Leave admin position

[2018-01-24 15:05] janwvjaarsveld commented on #246
Patch #246_COMPANY_FIELDS_20180124

[2018-01-24 15:07] janwvjaarsveld commented on #180
Patch #180_MANDATORY_RESIGNATION_LETTER_20180123

[2018-01-24 15:22] P1errevanZyl opened #247 "Guarantor BVN number"
Add a field for the BVN number and the field must only allow 11 characters, not more or less.

[2018-01-25 06:49] EmmanuelEdhedhe commented on #187
@kiranramnath You can close it or put on backlog, But I need the feedback on the Defect sheet sent by UBA to forward to them for consideration

[2018-01-25 07:15] EmmanuelEdhedhe commented on #192
Additional Information

The maximum number of Executive Committee (EXCO) members that can be on annual leave at the same time is three(3)
This is only applicable to annual leave
Specific EXCO members forms part of this population/group

[2018-01-25 07:30] ArmandCtz commented on #246
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Fields to determine parameters, GHHR, HRIS, Leave Admin | Passed | There are fields on the company screen to determine these parameters.

[2018-01-25 08:03] kiranramnath commented on #187
@EmmanuelEdhedhe I believe all feedback on the sheet are logged as tickets, if not please log them and I will address follow up on the ticket.

[2018-01-25 08:38] kevmza opened #248 "JSON Menu Import"

[2018-01-25 09:07] damianwhoffmann commented on #245
This is a platform issue, Sage needs to resolve the issue
Will speak to Francois to see if it has been fixed in later patches

[2018-01-25 09:32] LindaleeConradie commented on #204
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------

Error message | Pass | Error message pops up if selected leave request falls in the annual leave date range, as expected.

[2018-01-25 10:02] P1errevanZyl opened #249 "Confirmations D001 Former Employer Reference Request - Workflow"
An email request employee references from former employer.

REFERENCE LETTER: EMPLOYEE NAME

The above named former employee of your establishment has been offered employment in our
Bank.
We would be grateful if you could complete the attached questionnaire and return to us at your
earliest convenience. This is to assist us finalize the decision to confirm his appointment.
Please be rest assured t

[2018-01-25 10:06] P1errevanZyl opened #250 "Confirmations D002 Employer Confirmation Status (Reference aspect) - ESS Dashboard Analytics"
The Reference analytics dashboard showing the statuses of any references requested from the former employer.

[2018-01-25 10:16] P1errevanZyl opened #251 "Confirmations D003 Employer Reference Cover Letter - Workflow Report Attachment"
The cover letter to request the former employer to complete the reference questionnaire. Provided by UBA as attachment.

[2018-01-25 10:23] P1errevanZyl opened #252 "Confirmations D004 Employer Reference – Questionnaire - Workflow Report Attachment"
The questionnaire the new employees’ former employer is requested to complete. Provided by UBA as attachment.

[2018-01-25 10:27] P1errevanZyl opened #253 "Confirmations D005 (1) Guarantor Validation Request - X3 People"
1)	System should allow that the Confirmation team update or add the Guarantor details on X3 People and the employee should be able to update or add the detail on Self Service.

[2018-01-25 10:28] P1errevanZyl opened #254 "Confirmations D005 (1) Guarantor Validation Request - Self Service"
1)	System should allow that the Confirmation team update or add the Guarantor details on X3 People and the employee should be able to update or add the detail on Self Service.

[2018-01-25 11:15] ArmandCtz commented on #202
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Change error message | Park |
Error message on "Employee Courses" screen | Passed | When error message shows it is clear on what is needed and what was wrong. Works correctly.

[2018-01-25 11:56] P1errevanZyl opened #255 "Confirmations D005 (2) Guarantor Validation Request - X3 People"
1)       Should allow for maximum of two Guarantors (Change Request).   Where a staff replaces an existing guarantor, the record of the old guarantor   should be retained on the HRIS for the period of guarantee.
--

[2018-01-25 11:57] P1errevanZyl opened #256 "Confirmations D005 (2) Guarantor Validation Request - Self Service"
2)	Should allow for maximum of two Guarantors (Change Request). Where a staff replaces an existing guarantor, the record of the old guarantor should be retained on the HRIS for the period of guarantee.

[2018-01-25 12:52] Mandiklopper commented on #71
@Yinka123 please complete the test.

[2018-01-25 12:57] P1errevanZyl opened #257 "Confirmation D005 (3) Guarantor Validation Request Self Service"
3)	Field to be added on Guarantor screen for BVN (Bank verification Number) The BVN number is always 11 digits therefore the system should be restricted to the extent it cannot take more or less than 11 digits unless numbers are imputed correctly. Also, there should be an Admin Right to upload the validated guarantor schedule for ESS Dashboard report once captured on excel format.

[2018-01-25 13:00] LindaleeConradie commented on #193
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Date for leave more than month | Pass | Worked as expected.

[2018-01-25 13:13] Mandiklopper commented on #105
@chidiif please test.

[2018-01-25 13:14] Mandiklopper commented on #246
@Yinka123 please test

[2018-01-25 13:15] Mandiklopper commented on #243
@Yinka123 please test.

[2018-01-25 13:16] Mandiklopper commented on #242
@Yinka123 Please test

[2018-01-25 13:17] Mandiklopper commented on #237
@Yinka123 please test.

[2018-01-25 13:17] Mandiklopper commented on #74
@Yinka123 please test

[2018-01-25 13:18] Mandiklopper commented on #213
@Yinka123 please test

[2018-01-25 13:19] Mandiklopper commented on #126
@Yinka123 please test

[2018-01-25 13:20] Mandiklopper commented on #154
@Yinka123 please test

[2018-01-25 13:20] Mandiklopper commented on #37
@Yinka123  please test

[2018-01-25 13:23] Mandiklopper commented on #180
@Yinka123 please test

[2018-01-25 13:44] P1errevanZyl opened #258 "Confirmation D005 (4) Guarantor Validation Request Self Service"
4)	 System should enable Confirmation Team to view per employee all guarantor details provided by staff  over time. This is because guarantors are renewable every 2 years

[2018-01-25 13:45] P1errevanZyl opened #259 "Confirmation D005 (4) Guarantor Validation Request X3 People"
System should enable Confirmation Team to view per employee all guarantor details provided by staff over time. This is because guarantors are renewable every 2 years

[2018-01-25 13:46] P1errevanZyl opened #260 "Confirmation D005 (5) Guarantor Validation Request X3 People"
5)	System should enable Confirmation Team to generate report of guarantor details and year period provided for all staff

[2018-01-25 13:48] P1errevanZyl opened #261 "Confirmation D005 (5) Guarantor Validation Request Self Service"
5)	System should enable Confirmation Team to generate report of guarantor details and year period provided for all staff

[2018-01-25 14:29] P1errevanZyl opened #262 "Confirmation D007 Result Verification Request - Workflow Notification"
An email request to new employees’ former schools (University/Polytechnic/College of    Education), to verify their qualifications results.
--

[2018-01-25 14:37] P1errevanZyl opened #263 "Confirmation D008 Qualification verification - ESS Dashboard Analytics"
The Qualifications verification analytics dashboard showing the statuses of validated employee reference items

[2018-01-25 14:47] P1errevanZyl opened #264 "Confirmations D009 Work Ethics Review Request - Workflow notification"
Where employee qualification verification comes back Negative after the  2nd level check with the school, a notification is sent to work ethics  team to handle in line with policy

[2018-01-25 15:03] P1errevanZyl opened #265 "Confirmation D010 Performance Management Module - System setup"
Implement X3 People Performance Management module for the Confirmation appraisal when the employee is in 6th month of the employee’s confirmation process

[2018-01-25 15:05] P1errevanZyl opened #266 "Confirmation D011 Confirmation Appraisal Form - Workflow Report Attachment"
The Form to record the result of the employees’ appraisal under the Performance Management Module. Provided by UBA. (already provided to SAGE Team)

[2018-01-25 15:11] P1errevanZyl opened #267 "Confirmation D012 Result Verification Template - Workflow Report Attachment"
The template used by the confirmation Team to    verify the employee’s references and qualifications. Provided by UBA as    attachment.
--

[2018-01-25 15:17] P1errevanZyl opened #268 "Confirmation D013 Confirmation Appraisal Request - Workflow Notification"
An email notification request is sent to employee    supervisor at the end of probation period (i.e. between 6 - 24months). HRBP    team Lead and member are also copied.
--

[2018-01-25 15:26] P1errevanZyl opened #269 "Confirmation D014 Employee Confirmation Status (Appraisal aspect) - ESS Dashboard Analytics"
The Appraisal analytics dashboard showing a list of all new    employees, the status of qualification verification and confirmation appraisal.  The confirmation team and HRBP team member    and team lead should be able to view the dashboard.
--

[2018-01-25 15:28] P1errevanZyl opened #270 "Confirmation D014 Employee Confirmation Status (Appraisal aspect) - X3 People"
The Appraisal analytics dashboard showing a list of all new    employees, the status of qualification verification and confirmation    appraisal. The confirmation team and HRBP team member    and team lead should be able to view the dashboard.
--

[2018-01-25 15:40] P1errevanZyl opened #271 "Confirmation D015 Work Ethics Non-Qualify Review Request - Workflow Notification"
If    after three-month probation extension, confirmation appraisal result does    not qualify employee for confirmation, employee is referred to Work Ethics.    An email notification will be send to the Work Ethics team.
--

[2018-01-26 07:49] Yinka123 commented on #180
Pass

[2018-01-26 08:00] Yinka123 commented on #246
Pass

[2018-01-26 08:00] P1errevanZyl opened #272 "Confirmation D016 Employee confirmation reminder - Workflow Notification"
An informative notification to supervisors and HRBP’s, with an attached summarized report of all confirmed and unconfirmed new employees.
--

[2018-01-26 08:47] P1errevanZyl opened #273 "Confirmation D017 Confirmation Summary Report - Workflow Report Attachment"
A report of confirmed and unconfirmed staff, and statuses of the four aspects of their confirmation process. Provided by UBA.
--

[2018-01-26 08:48] P1errevanZyl opened #274 "Confirmation D018 Employee Confirmation Letter - Workflow Report Attachment"
Letter sent to all successfully confirmed new employees.
--

[2018-01-26 08:49] P1errevanZyl opened #275 "Confirmation D019 Confirmation Check List - System"
Local menu or miscellaneous table for confirmation checklist to expose Employee confirmation status on dashboard.
--

[2018-01-26 08:50] Yinka123 commented on #243
Pass

[2018-01-26 09:27] kevmza commented on #248
Menu Import completed.

[2018-01-26 09:33] Yinka123 commented on #237
Pass

[2018-01-26 09:38] Yinka123 commented on #213
Pass

[2018-01-26 09:39] Yinka123 commented on #213
Passed

[2018-01-26 09:48] LindaleeConradie commented on #186
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------

Spill into first week of following year | Pass | allowed to spill into first week of following year as expected.

[2018-01-26 10:08] Yinka123 commented on #74
Pass

[2018-01-26 10:16] Yinka123 commented on #71
Failed.
The middle name has not been added, change the title of the attachment box on residential address tab to read "Change of Address Attachment"

[2018-01-26 10:17] stevencsgh commented on #153
Removed custom paper clip from Case screen - user must use standard paper clip.

Changed description of paper clip on disciplinary screen so user can attach/view case attachments.
Standard paper clip can still be used for attaching items relating only to this disciplinary.

[2018-01-26 10:18] Yinka123 commented on #37
Passed

[2018-01-26 10:19] kiranramnath commented on #71
@Yinka123 what middle name are you referring to?

[2018-01-26 10:23] Yinka123 commented on #242
Failed.
When i save it gives lot of errors, and does not save eventually.

[2018-01-26 10:29] Yinka123 commented on #71
On the ESS, employee are suppose to have three fields for names - the **middle name box is not available**, currently on PeopleConnect.

[2018-01-26 10:43] Mandiklopper opened #276 "Add function to print letters"
We need to look into adding a function where the client can print letters for Work ethics as example directly from the Disciplinary screen for that specific transaction.  Currently you need to go into reports and then remember the Sanction number which can cause issues.  Ideally if we have a button that says "Print Letter"  on the Disciplinary screen this will work.

[2018-01-26 11:12] Yinka123 commented on #242
Passed

[2018-01-26 12:11] ArmandCtz commented on #153
Test | Passed/Fail | Comment
-- | -- | --
Paperclip accessible after "approval" | Passed | Works as expected.
Paperclips work the same | Passed | Paperclip on "Disciplinary case" right bar and paperclip on "Disciplinary" screen is the same and related to case attachments. while right bar Paperclip on "Disciplinary" is for specific Disciplinary and not for case related attachments.

[2018-01-26 12:27] ArmandCtz commented on #190
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Relief field mandatory for SL1 and SL2 | Passed | Works as expected, Relief is not mandatory for sick leave request.
Reason field MSS | Passed | Works as expected. When creating leave for subordinate, the reason field disappears for SL1 and SL2. Also not mandatory.

[2018-01-29 08:46] chidiif opened #277 "ACCESS/Unable to Log into People Connect"
Employee A06089 getting error message on attempt to login.

[2018-01-29 08:46] chidiif commented on #277
Resolved

[2018-01-29 08:46] #277 closed

[2018-01-29 09:32] ZanderCronje commented on #242
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Standard job short title | Passed | Created a standard job with a specific short title, when saved the short title saved as expected. When updating the field, the new short title also saved.

[2018-01-29 09:39] ArmandCtz commented on #2
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Emails sent to 2nd level supervisors (both releasing and accepting) and Branch Managers(BM) for branch staff | Passed | Works as expected when all the supervisors are linked as needed.

[2018-01-29 09:44] LindaleeConradie commented on #210
Test | Passed/Fail | Comment/Finding
----------- | ---------- | ----------
Display approved leaves | Fail | Under my leave plan, it shows the assigned reliefs but doesn't show the approved reliefs.